In [1]:
import icu_data_defs as idd

In [280]:
data_dict = idd.data_dictionary('config/data_definitions.xlsx')

In [3]:
data_dict.get_defs()

,component,units,variable_type,clinical_source,lower,upper,list_id
def_id,,,,,,,
0,heart rate,beats/min,qn,observation,0.0,500.0,NaN
1,blood pressure systolic,mmHg,qn,observation,0.0,500.0,NaN
2,blood pressure diastolic,mmHg,qn,observation,0.0,500.0,NaN
3,blood pressure mean,mmHg,qn,observation,0.0,500.0,NaN
4,respiratory rate,insp/min,qn,observation,0.0,150.0,NaN
5,temperature body,degF,qn,observation,0.0,150.0,NaN
6,oxygen saturation pulse oximetry,percent,qn,observation,0.0,100.0,NaN
7,weight body,kg,qn,observation,0.0,700.0,NaN
8,output urine,mL,qn,observation,0.0,30000.0,NaN
9,output urine,mL/hr,qn,observation,0.0,5000.0,NaN
10,output urine,mL/kg/hr,qn,observation,0.0,100.0,NaN
11,glasgow coma scale motor,no_units,ord,observation,NaN,NaN,0.0
12,glasgow coma scale eye opening,no_units,ord,observation,NaN,NaN,2.0
13,glasgow coma scale verbal,no_units,ord,observation,NaN,NaN,1.0
14,normal saline,mL,qn,intervention,0.0,30000.0,NaN
15,normal saline,mL/hr,qn,intervention,0.0,10000.0,NaN
16,lactated ringers,mL,qn,intervention,0.0,30000.0,NaN
17,lactated ringers,mL/hr,qn,intervention,0.0,10000.0,NaN
18,norepinephrine,mcg,qn,intervention,0.0,100000.0,NaN
19,norepinephrine,mcg/min,qn,intervention,0.0,100.0,NaN
20,norepinephrine,mcg/kg/min,qn,intervention,0.0,10.0,NaN
21,vasopressin,units,qn,intervention,0.0,300.0,NaN
22,vasopressin,units/min,qn,intervention,0.0,5.0,NaN
23,lactate,mmol/L,qn,observation,0.0,50.0,NaN
24,lactate,mg/dL,qn,observation,0.0,50.0,NaN
25,hemoglobin,g/dL,qn,observation,0.0,100.0,NaN

# CBC

## Build definitions

In [4]:
cbc_ids = [25] # <--- add hemoglobin

new_defs = [
    ('white blood cell count','x10e3/uL',0,1000),
    ('red blood cell count', 'x10e6/uL',0,1000),
    ('hematocrit', 'percent',0,100),
    ('mean corpuscular volume', 'fL',0,200),
    ('mean corpuscular hemoglobin', 'pg',0,100),    
    ('mean corpuscular hemoglobin concentration', 'g/dL',0,100),
    ('red cell distribuition width','percent',0,100),
    ('platelet count','x10e3/uL',0,5000000)
]

for component,units,lower_limit,upper_limit in new_defs:
    new_id = data_dict.add_definition(
                            component=component,
                            units=units,
                            lower_limit=lower_limit,
                            upper_limit=upper_limit,
                    )
    cbc_ids.append(new_id)

data_dict.get_defs()

,component,units,variable_type,clinical_source,lower,upper,list_id
def_id,,,,,,,
0,heart rate,beats/min,qn,observation,0.0,500.0,NaN
1,blood pressure systolic,mmHg,qn,observation,0.0,500.0,NaN
2,blood pressure diastolic,mmHg,qn,observation,0.0,500.0,NaN
3,blood pressure mean,mmHg,qn,observation,0.0,500.0,NaN
4,respiratory rate,insp/min,qn,observation,0.0,150.0,NaN
5,temperature body,degF,qn,observation,0.0,150.0,NaN
6,oxygen saturation pulse oximetry,percent,qn,observation,0.0,100.0,NaN
7,weight body,kg,qn,observation,0.0,700.0,NaN
8,output urine,mL,qn,observation,0.0,30000.0,NaN
9,output urine,mL/hr,qn,observation,0.0,5000.0,NaN
10,output urine,mL/kg/hr,qn,observation,0.0,100.0,NaN
11,glasgow coma scale motor,no_units,ord,observation,NaN,NaN,0.0
12,glasgow coma scale eye opening,no_units,ord,observation,NaN,NaN,2.0
13,glasgow coma scale verbal,no_units,ord,observation,NaN,NaN,1.0
14,normal saline,mL,qn,intervention,0.0,30000.0,NaN
15,normal saline,mL/hr,qn,intervention,0.0,10000.0,NaN
16,lactated ringers,mL,qn,intervention,0.0,30000.0,NaN
17,lactated ringers,mL/hr,qn,intervention,0.0,10000.0,NaN
18,norepinephrine,mcg,qn,intervention,0.0,100000.0,NaN
19,norepinephrine,mcg/min,qn,intervention,0.0,100.0,NaN
20,norepinephrine,mcg/kg/min,qn,intervention,0.0,10.0,NaN
21,vasopressin,units,qn,intervention,0.0,300.0,NaN
22,vasopressin,units/min,qn,intervention,0.0,5.0,NaN
23,lactate,mmol/L,qn,observation,0.0,50.0,NaN
24,lactate,mg/dL,qn,observation,0.0,50.0,NaN
25,hemoglobin,g/dL,qn,observation,0.0,100.0,NaN
26,white blood cell count,x10e3/uL,qn,observation,0.0,1000.0,NaN
27,red blood cell count,x10e6/uL,qn,observation,0.0,1000.0,NaN
28,hematocrit,percent,qn,observation,0.0,100.0,NaN
29,mean corpuscular volume,fL,qn,observation,0.0,200.0,NaN
30,mean corpuscular hemoglobin,pg,qn,observation,0.0,100.0,NaN
31,mean corpuscular hemoglobin concentration,g/dL,qn,observation,0.0,100.0,NaN
32,red cell distribuition width,percent,qn,observation,0.0,100.0,NaN
33,platelet count,x10e3/uL,qn,observation,0.0,5000000.0,NaN

In [5]:
cbc_panel_id = data_dict.add_panel('complete blood count', {data_dict.table_names.definitions:cbc_ids})

13

In [6]:
data_dict.get_panel_defintions(13)

,component,units,variable_type,clinical_source,lower,upper,list_id
def_id,,,,,,,
25,hemoglobin,g/dL,qn,observation,0.0,100.0,NaN
26,white blood cell count,x10e3/uL,qn,observation,0.0,1000.0,NaN
27,red blood cell count,x10e6/uL,qn,observation,0.0,1000.0,NaN
28,hematocrit,percent,qn,observation,0.0,100.0,NaN
29,mean corpuscular volume,fL,qn,observation,0.0,200.0,NaN
30,mean corpuscular hemoglobin,pg,qn,observation,0.0,100.0,NaN
31,mean corpuscular hemoglobin concentration,g/dL,qn,observation,0.0,100.0,NaN
32,red cell distribuition width,percent,qn,observation,0.0,100.0,NaN
33,platelet count,x10e3/uL,qn,observation,0.0,5000000.0,NaN

In [7]:
data_dict.save()

## Explor mimic for items

In [8]:
import mimic

In [80]:
reload(mimic)
explorer = mimic.explorer()

In [81]:
#WBC
component = data_dict.components.WHITE_BLOOD_CELL_COUNT
results = explorer.search(['wbc', component])
results.iloc[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
220546,WBC,WBC,chartevents,Labs,None,110.000000
1542,WBC,,chartevents,Hematology,,110.000000
51516,WBC,NaN,labevents,HEMATOLOGY,NaN,110.000000
51533,WBCP,NaN,labevents,HEMATOLOGY,NaN,100.666667
51301,WHITE BLOOD CELLS,NaN,labevents,HEMATOLOGY,NaN,86.000000
51363,"WBC, CSF",NaN,labevents,HEMATOLOGY,NaN,81.666667
51517,WBC CASTS,NaN,labevents,HEMATOLOGY,NaN,76.666667
51300,WBC COUNT,NaN,labevents,HEMATOLOGY,NaN,76.666667
51518,WBC CLUMPS,NaN,labevents,HEMATOLOGY,NaN,74.000000
51458,"WBC, PLEURAL",NaN,labevents,HEMATOLOGY,NaN,71.000000
51128,"WBC, ASCITES",NaN,labevents,HEMATOLOGY,NaN,71.000000
227062,WBC_ApacheIV,WBC_ApacheIV,chartevents,Scores - APACHE IV (2),None,70.000000
4200,WBC 4.0-11.0,,chartevents,Heme/Coag,,70.000000
51279,RED BLOOD CELLS,NaN,labevents,HEMATOLOGY,NaN,70.000000
861,"WBC (4-11,000)",,chartevents,Hematology,,68.333333
51466,BLOOD,NaN,labevents,HEMATOLOGY,NaN,68.000000
44560,blood,,inputevents_cv,,,68.000000
70015,BLOOD,,microbiologyevents,SPECIMEN,,68.000000
1127,"WBC (4-11,000)",,chartevents,Hematology,,67.333333
7143,ABC,,chartevents,,,67.000000

In [82]:
mimic.add_item_mapping(component,[220546,1542,51516,51301,51300,861,1127])

                          component  itemid
0    glasgow coma scale eye opening     184
1    glasgow coma scale eye opening  220739
2          glasgow coma scale motor     454
3          glasgow coma scale motor  223901
4           blood pressure systolic  220179
5           blood pressure systolic  225309
6           blood pressure systolic  224167
7           blood pressure systolic  220050
8           blood pressure systolic  227243
9           blood pressure systolic     455
10          blood pressure systolic       6
11          blood pressure systolic    3313
12          blood pressure systolic     442
13          blood pressure systolic    3315
14          blood pressure systolic      51
15          blood pressure systolic    3317
16          blood pressure systolic    3321
17          blood pressure systolic    3323
18                 temperature body  223761
19                 temperature body     678
20                 temperature body  223762
21                 temperature body     676
22        glasgow coma scale verbal     723
23        glasgow coma scale verbal  223900
24                       hemoglobin   51222
25                       hemoglobin  220228
26                       hemoglobin     814
27                       hemoglobin    1165
28                       hemoglobin   50811
29                          lactate    1531
..                              ...     ...
114                    output urine   42042
115                    output urine   46177
116                    output urine   44684
117                    output urine   46658
118                    output urine   46578
119                lactated ringers  225828
120                lactated ringers   44367
121                lactated ringers    2971
122                lactated ringers    1634
123                lactated ringers   30021
124                lactated ringers  220953
125                lactated ringers   46207
126                lactated ringers   44184
127                lactated ringers   44521
128                lactated ringers   46781
129                lactated ringers   44815
130                respiratory rate  220210
131                respiratory rate    3603
132                respiratory rate     618
133                respiratory rate    8113
134             blood pressure mean  220181
135             blood pressure mean  225312
136             blood pressure mean  220052
137          white blood cell count  220546
138          white blood cell count    1542
139          white blood cell count   51516
140          white blood cell count   51301
141          white blood cell count   51300
142          white blood cell count     861
143          white blood cell count    1127

[144 rows x 2 columns]

In [83]:
results.iloc[20:40]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
3341,CBC,,chartevents,,,67.000000
51493,RBC,NaN,labevents,HEMATOLOGY,NaN,67.000000
833,RBC,,chartevents,Hematology,,67.000000
51278,RED BLOOD CELL FRAGMENTS,NaN,labevents,HEMATOLOGY,NaN,66.000000
226482,Blood Clot Outdates,Blood Clot Outdates,datetimeevents,Labs,,65.333333
51439,"WBC, OTHER FLUID",NaN,labevents,HEMATOLOGY,NaN,65.000000
51384,"WBC, JOINT FLUID",NaN,labevents,HEMATOLOGY,NaN,65.000000
226780,WBCApacheIIValue,WBCApacheIIValue,chartevents,Scores - APACHE II,None,64.666667
226779,WbcApacheIIScore,WbcApacheIIScore,chartevents,Scores - APACHE II,None,64.666667
221013,Whole Blood,Whole Blood,inputevents_mv,Fluids - Other (Not In Use),mL,64.000000
30002,Whole Blood,,inputevents_cv,,,64.000000
227063,WBCScore_ApacheIV,WBCScore_ApacheIV,chartevents,Scores - APACHE IV (2),None,63.333333
3334,Blood Out,,chartevents,,,61.000000
43606,blood out,,outputevents,,,61.000000
43762,Blood out,,outputevents,,,61.000000
51380,NRBC,NaN,labevents,HEMATOLOGY,NaN,60.333333
51357,NRBC,NaN,labevents,HEMATOLOGY,NaN,60.333333
51433,NRBC,NaN,labevents,HEMATOLOGY,NaN,60.333333
70084,SWAB,,microbiologyevents,SPECIMEN,,60.333333
7597,PRBC,,chartevents,,,60.333333

In [84]:
#RBC
component = data_dict.components.RED_BLOOD_CELL_COUNT
results = explorer.search(['rbc', component])
results.iloc[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
51493,RBC,NaN,labevents,HEMATOLOGY,NaN,110.000000
833,RBC,,chartevents,Hematology,,110.000000
7597,PRBC,,chartevents,,,100.666667
51357,NRBC,NaN,labevents,HEMATOLOGY,NaN,100.666667
51433,NRBC,NaN,labevents,HEMATOLOGY,NaN,100.666667
51452,NRBC,NaN,labevents,HEMATOLOGY,NaN,100.666667
51380,NRBC,NaN,labevents,HEMATOLOGY,NaN,100.666667
5751,PRBCs,,chartevents,,,93.333333
5649,PRBCS,,chartevents,,,93.333333
30179,PRBC's,,inputevents_cv,,,88.000000
225168,Packed Red Blood Cells,PRBC's,inputevents_mv,Blood Products/Colloids,mL,88.000000
51279,RED BLOOD CELLS,NaN,labevents,HEMATOLOGY,NaN,84.333333
42324,er prbc,,inputevents_cv,Free Form Intake,,83.333333
46407,ED PRBC,,inputevents_cv,Free Form Intake,,83.333333
51362,"RBC, CSF",NaN,labevents,HEMATOLOGY,NaN,81.666667
42239,CC7 PRBC,,inputevents_cv,Free Form Intake,,80.000000
46612,E.R. prbc,,inputevents_cv,Free Form Intake,,78.333333
42588,VICU PRBC,,inputevents_cv,Free Form Intake,,76.666667
51494,RBC CASTS,NaN,labevents,HEMATOLOGY,NaN,76.666667
45020,RBC waste,,inputevents_cv,,,76.666667

In [85]:
mimic.add_item_mapping(component,[51493,833,51279]).tail()

                  component  itemid
142  white blood cell count     861
143  white blood cell count    1127
144    red blood cell count   51493
145    red blood cell count     833
146    red blood cell count   51279

In [86]:
#Hematocrit
component = data_dict.components.HEMATOCRIT
results = explorer.search(['hct', component])
results.iloc[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
813,Hematocrit,,chartevents,Hematology,,110.000000
51480,HEMATOCRIT,NaN,labevents,HEMATOLOGY,NaN,110.000000
51221,HEMATOCRIT,NaN,labevents,HEMATOLOGY,NaN,110.000000
51348,"HEMATOCRIT, CSF",NaN,labevents,HEMATOLOGY,NaN,97.666667
220545,Hematocrit (serum),Hematocrit (serum),chartevents,Labs,None,92.666667
3761,Hematocrit (35-51),,chartevents,ABG'S,,92.666667
51445,"HEMATOCRIT, PLEURAL",NaN,labevents,HEMATOLOGY,NaN,90.000000
51115,"HEMATOCRIT, ASCITES",NaN,labevents,HEMATOLOGY,NaN,90.000000
227017,Hematocrit_ApacheIV,Hematocrit_ApacheIV,chartevents,Scores - APACHE IV (2),None,89.333333
50810,"HEMATOCRIT, CALCULATED",NaN,labevents,BLOOD GAS,NaN,86.000000
51369,"HEMATOCRIT, JOINT FLUID",NaN,labevents,HEMATOLOGY,NaN,84.666667
51422,"HEMATOCRIT, OTHER FLUID",NaN,labevents,HEMATOLOGY,NaN,84.666667
226761,HematocritApacheIIScore,HematocritApacheIIScore,chartevents,Scores - APACHE II,None,84.000000
226762,HematocritApacheIIValue,HematocritApacheIIValue,chartevents,Scores - APACHE II,None,84.000000
986,ABG Hct,,chartevents,,,83.333333
226540,Hematocrit (whole blood - calc),Hematocrit (whole blood - calc),chartevents,Labs,None,77.666667
50934,H,NaN,labevents,CHEMISTRY,NaN,76.666667
1520,ACT,,chartevents,Coags,,67.000000
30303,MCT,,inputevents_cv,,,67.000000
956,CPT,,chartevents,,,67.000000

In [87]:
mimic.add_item_mapping(component,[813,51480,51221,220545,3761,50810,986,226540]).tail()

      component  itemid
150  hematocrit  220545
151  hematocrit    3761
152  hematocrit   50810
153  hematocrit     986
154  hematocrit  226540

In [88]:
results.iloc[20:40]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
1671,act,,chartevents,,,67.000000
30067,HCL,,inputevents_cv,,,67.000000
220507,Activated Clotting Time,ACT,chartevents,Labs,None,67.000000
5692,"BILI, HCT. RETIC",,chartevents,,,65.666667
224661,Baseline Current/mA,Baseline Current/mA,chartevents,Pain/Sedation,mA,65.333333
224738,Inspiratory Time,IT,chartevents,Respiratory,sec,65.333333
223960,Temporary Venticular Stim Threshold mA,Temp Venticular Stim Threshold mA,chartevents,Cardiovascular (Pacer Data),mA,65.333333
224838,Temporary Ventricular Stim Setting mA,Temp Ventricular Stim Setting mA,chartevents,Cardiovascular (Pacer Data),mA,65.333333
224755,Temporary Atrial Stim Setting mA,Temp Atrial Stim Setting mA,chartevents,Cardiovascular (Pacer Data),mA,65.333333
224754,Temporary Atrial Stim Threshold mA,Temp Atrial Stim Threshold mA,chartevents,Cardiovascular (Pacer Data),mA,65.333333
224662,Current Used/mA,Current Used/mA,chartevents,Pain/Sedation,mA,65.333333
42849,hemovac,,inputevents_cv,,,63.000000
45486,Hemo,,inputevents_cv,,,63.000000
6253,"NUTR PANEL,Hct, reti",,chartevents,,,61.000000
43883,Hemoccult,,inputevents_cv,,,60.666667
50980,RHEUMATOID FACTOR,NaN,labevents,CHEMISTRY,NaN,60.333333
812,HCO3,,chartevents,ABG,,60.333333
51249,MCHC,NaN,labevents,HEMATOLOGY,NaN,60.333333
51551,VOIDED SPECIMEN,NaN,labevents,HEMATOLOGY,NaN,60.000000
51407,CD38,NaN,labevents,HEMATOLOGY,NaN,60.000000

In [89]:
#MCV
component = data_dict.components.MEAN_CORPUSCULAR_VOLUME
results = explorer.search(['mcv', component])
results.iloc[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
51250,MCV,NaN,labevents,HEMATOLOGY,NaN,110.000000
1103,cvp,,chartevents,,,71.333333
113,CVP,,chartevents,,,71.333333
5991,CVL,,chartevents,,,71.333333
220074,Central Venous Pressure,CVP,chartevents,Hemodynamics,mmHg,71.333333
224753,Temporary Atrial Sens Setting mV,Temp Atrial Sens Setting mV,chartevents,Cardiovascular (Pacer Data),mV,70.000000
224837,Temporary Ventricular Sens Setting mV,Temp Ventricular Sens Setting mV,chartevents,Cardiovascular (Pacer Data),mV,70.000000
223958,Temporary Venticular Sens Threshold mV,Temp Venticular Sens Threshold mV,chartevents,Cardiovascular (Pacer Data),mV,70.000000
6078,MV,,chartevents,,,70.000000
224752,Temporary Atrial Sens Threshold mV,Temp Atrial Sens Threshold mV,chartevents,Cardiovascular (Pacer Data),mV,70.000000
3259,mv,,chartevents,,,70.000000
225150,Dexmedetomidine (Precedex),Dexmedetomidine (Precedex),inputevents_mv,Medications,mcg,67.000000
4898,MVI,,chartevents,,,67.000000
225972,Fentanyl (Push),Fentanyl (Push),inputevents_mv,Medications,mcg,67.000000
51248,MCH,NaN,labevents,HEMATOLOGY,NaN,67.000000
30303,MCT,,inputevents_cv,,,67.000000
30028,MVI,,inputevents_cv,,,67.000000
1632,PMV,,chartevents,,,67.000000
225914,Factor VIIa,Factor VIIa,inputevents_mv,Blood Products/Colloids,mcg,67.000000
6645,pmv,,chartevents,,,67.000000

In [90]:
mimic.add_item_mapping(component,[51250]).tail()

                   component  itemid
151               hematocrit    3761
152               hematocrit   50810
153               hematocrit     986
154               hematocrit  226540
155  mean corpuscular volume   51250

In [91]:
#MCH
component = data_dict.components.MEAN_CORPUSCULAR_HEMOGLOBIN
results = explorer.search(['mch', component])
results.iloc[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
51248,MCH,NaN,labevents,HEMATOLOGY,NaN,110.000000
51249,MCHC,NaN,labevents,HEMATOLOGY,NaN,100.666667
51222,HEMOGLOBIN,NaN,labevents,HEMATOLOGY,NaN,79.333333
220228,Hemoglobin,Hemoglobin,chartevents,Labs,g/dl,79.333333
50811,HEMOGLOBIN,NaN,labevents,BLOOD GAS,NaN,79.333333
814,Hemoglobin,,chartevents,Hematology,,79.333333
50934,H,NaN,labevents,CHEMISTRY,NaN,76.666667
51224,HEMOGLOBIN C,NaN,labevents,HEMATOLOGY,NaN,68.000000
51250,MCV,NaN,labevents,HEMATOLOGY,NaN,67.000000
225972,Fentanyl (Push),Fentanyl (Push),inputevents_mv,Medications,mcg,67.000000
225150,Dexmedetomidine (Precedex),Dexmedetomidine (Precedex),inputevents_mv,Medications,mcg,67.000000
225914,Factor VIIa,Factor VIIa,inputevents_mv,Blood Products/Colloids,mcg,67.000000
225059,Past medical history,PMH,,Adm History/FHPA,,67.000000
30303,MCT,,inputevents_cv,,,67.000000
51225,HEMOGLOBIN F,NaN,labevents,HEMATOLOGY,NaN,66.000000
51226,HEMOGLOBLIN A,NaN,labevents,HEMATOLOGY,NaN,65.666667
51223,HEMOGLOBIN A2,NaN,labevents,HEMATOLOGY,NaN,65.666667
51212,FETAL HEMOGLOBIN,NaN,labevents,HEMATOLOGY,NaN,65.333333
50805,CARBOXYHEMOGLOBIN,NaN,labevents,BLOOD GAS,NaN,64.666667
51227,HEMOGLOBLIN S,NaN,labevents,HEMATOLOGY,NaN,64.000000

In [92]:
mimic.add_item_mapping(component,[51248]).tail()

                       component  itemid
152                   hematocrit   50810
153                   hematocrit     986
154                   hematocrit  226540
155      mean corpuscular volume   51250
156  mean corpuscular hemoglobin   51248

In [93]:
#MCHC
component = data_dict.components.MEAN_CORPUSCULAR_HEMOGLOBIN_CONCENTRATION
results = explorer.search(['mchc', component])
results.iloc[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
51249,MCHC,NaN,labevents,HEMATOLOGY,NaN,110.000000
51248,MCH,NaN,labevents,HEMATOLOGY,NaN,100.666667
51224,HEMOGLOBIN C,NaN,labevents,HEMATOLOGY,NaN,73.333333
50934,H,NaN,labevents,CHEMISTRY,NaN,70.000000
50811,HEMOGLOBIN,NaN,labevents,BLOOD GAS,NaN,69.333333
814,Hemoglobin,,chartevents,Hematology,,69.333333
51222,HEMOGLOBIN,NaN,labevents,HEMATOLOGY,NaN,69.333333
220228,Hemoglobin,Hemoglobin,chartevents,Labs,g/dl,69.333333
228296,PCA concentrations,PCA concentrations,,Pain/Sedation,,65.333333
7508,CSM CHECK,,chartevents,,,61.000000
51250,MCV,NaN,labevents,HEMATOLOGY,NaN,60.333333
225972,Fentanyl (Push),Fentanyl (Push),inputevents_mv,Medications,mcg,60.333333
225150,Dexmedetomidine (Precedex),Dexmedetomidine (Precedex),inputevents_mv,Medications,mcg,60.333333
3341,CBC,,chartevents,,,60.333333
225914,Factor VIIa,Factor VIIa,inputevents_mv,Blood Products/Colloids,mcg,60.333333
30303,MCT,,inputevents_cv,,,60.333333
1367,CCO,,chartevents,,,60.333333
1366,CCI,,chartevents,,,60.333333
225059,Past medical history,PMH,,Adm History/FHPA,,60.333333
1371,cco,,chartevents,,,60.333333

In [94]:
mimic.add_item_mapping(component,[51249]).tail()

                                     component  itemid
153                                 hematocrit     986
154                                 hematocrit  226540
155                    mean corpuscular volume   51250
156                mean corpuscular hemoglobin   51248
157  mean corpuscular hemoglobin concentration   51249

In [96]:
#RDW
component = data_dict.components.RED_CELL_DISTRIBUTION_WIDTH
results = explorer.search(['rdw', component])
results.iloc[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
51277,RDW,NaN,labevents,HEMATOLOGY,NaN,110.000000
30013,D5W,,inputevents_cv,,,67.000000
1848,D5W,,chartevents,,,67.000000
588,RCW,,chartevents,,,67.000000
589,RCWI,,chartevents,,,60.333333
46206,OR d5w,,inputevents_cv,Free Form Intake,,59.333333
225758,RIC Insertion Date,RIC Insertion Date,datetimeevents,Access Lines - Peripheral,,57.333333
5765,CPR instruction,,chartevents,,,57.000000
46785,ct insertion site,,inputevents_cv,,,56.333333
228168,Impella Insertion Date,Impella Insertion Date,datetimeevents,Access Lines - Invasive,,55.333333
43122,rectal irrigation,,inputevents_cv,Free Form Intake,,54.666667
42769,Rectal Irrigation,,inputevents_cv,Free Form Intake,,54.666667
43407,Rectal irrigation,,inputevents_cv,,,54.666667
227614,Impaired Skin Width #9,Site Width #9,chartevents,Skin - Impairment,cm,54.333333
224951,Impaired Skin Width #2,Site Width #2,chartevents,Skin - Impairment,cm,54.333333
224956,Impaired Skin Width #7,Site Width #7,chartevents,Skin - Impairment,cm,54.333333
224955,Impaired Skin Width #6,Site Width #6,chartevents,Skin - Impairment,cm,54.333333
224952,Impaired Skin Width #3,Site Width #3,chartevents,Skin - Impairment,cm,54.333333
224957,Impaired Skin Width #8,Site Width #8,chartevents,Skin - Impairment,cm,54.333333
224846,Impaired Skin Width #1,Site Width #1,chartevents,Skin - Impairment,cm,54.333333

In [97]:
mimic.add_item_mapping(component,[51277]).tail()

                                     component  itemid
154                                 hematocrit  226540
155                    mean corpuscular volume   51250
156                mean corpuscular hemoglobin   51248
157  mean corpuscular hemoglobin concentration   51249
158                red cell distribution width   51277

In [98]:
#Platelets
component = data_dict.components.PLATELET_COUNT
results = explorer.search(['platelet', 'plt', component])
results.iloc[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
6256,Platelet Count,,chartevents,,,110.000000
227457,Platelet Count,Platelet Count,chartevents,Labs,None,110.000000
51265,PLATELET COUNT,NaN,labevents,HEMATOLOGY,NaN,110.000000
225678,ZPlatelet Count,ZPlatelet Count,chartevents,Labs,None,108.000000
225170,Platelets,Platelets,inputevents_mv,Blood Products/Colloids,mL,106.000000
828,Platelets,,chartevents,Hematology,,106.000000
30006,Platelets,,inputevents_cv,,,106.000000
5661,PLTS,,chartevents,,,100.666667
1674,PL,,chartevents,,,96.666667
7460,Pl,,chartevents,,,96.666667
30105,OR Platelets,,inputevents_cv,,,96.666667
51266,PLATELET SMEAR,NaN,labevents,HEMATOLOGY,NaN,92.000000
51240,LARGE PLATELETS,NaN,labevents,HEMATOLOGY,NaN,90.000000
51264,PLATELET CLUMPS,NaN,labevents,HEMATOLOGY,NaN,90.000000
3789,Platelet (150-440),,chartevents,Heme/Coag,,85.333333
226369,OR Platelet Intake,OR Platelet Intake,inputevents_mv,Blood Products/Colloids,mL,84.666667
227071,PACU Platelet Intake,PACU Platelet Intake,inputevents_mv,Blood Products/Colloids,mL,81.333333
3562,Palate,,chartevents,,,75.000000
227465,Prothrombin time,PT,chartevents,Labs,None,70.000000
1286,PT,,chartevents,,,70.000000

In [99]:
mimic.add_item_mapping(component,[6256,227457,51265,225678,828,3789,5661]).tail()

          component  itemid
161  platelet count   51265
162  platelet count  225678
163  platelet count     828
164  platelet count    3789
165  platelet count    5661

## Extract new data

In [162]:
import logger
import units
reload(units)
reload(logger)
reload(extract_transform_load)

In [160]:
reload(mimic)
etl_manager = mimic.MimicETLManager('data/mimic_extract.h5','config/mimic_item_map.csv',data_dict)

In [154]:
components = data_dict.get_components(panel_id=cbc_panel_id)
components

[u'hemoglobin',
 u'white blood cell count',
 u'red blood cell count',
 u'hematocrit',
 u'mean corpuscular volume',
 u'mean corpuscular hemoglobin',
 u'mean corpuscular hemoglobin concentration',
 u'red cell distribution width',
 u'platelet count']

In [155]:
etl_info = etl_manager.etl(components,save_steps=True)

(2017-07-25 21:21:23) BEGIN ETL for 7 components: [u'red blood cell count', u'hematocrit', u'mean corpuscular volume', u'mean corpuscular hemoglobin', u'mean corpuscular hemoglobin concentration', u'red cell distribution width', u'platelet count']
(2017-07-25 21:21:23)>> RED BLOOD CELL COUNT: 1/7
(2017-07-25 21:21:23)>>>> Extract...
(2017-07-25 21:21:23)>>>>>> Extracting 1 items from chartevents
(2017-07-25 21:21:26)<<<<<< --- (3.0s)
(2017-07-25 21:21:26)>>>>>> Extracting 2 items from labevents
(2017-07-25 21:21:36)<<<<<< --- (10.0s)
(2017-07-25 21:21:36)>>>>>> Combine DF
(2017-07-25 21:21:36)<<<<<< --- (0.0s)
(2017-07-25 21:21:36)<<<< --- (13.0s)
(2017-07-25 21:21:36)>>>> Transform...
(2017-07-25 21:21:36)>>>>>> Clean UOM
(2017-07-25 21:21:42)<<<<<< --- (6.0s)
(2017-07-25 21:22:01)<<<< --- (25.0s)
(2017-07-25 21:22:01)>>>> Clean...
x10e6/uL
m/uL
x10e6/uL
number/hpf
x10e6/uL
m/uL
x10e6/uL
m/uL
x10e6/uL
1/uL
x10e6/uL
1/uL
(2017-07-25 21:23:06)>>>>>> Nominal to OneHot
(2017-07-25 21:23:08)<<<<<< --- (2.0s)
(2017-07-25 21:23:08)>>>>>> Drop OOB data | (626413, 88)
(2017-07-25 21:23:08)>>>>>>>> red blood cell count, x10e6/uL, 23271
(2017-07-25 21:23:21)<<<<<<<< --- (13.0s)
(2017-07-25 21:23:21)>>>>>>>> red blood cell count, no_units, 50113062
(2017-07-25 21:23:21)<<<<<<<< --- (0.0s)
(2017-07-25 21:23:21)>>>>>>>> red blood cell count, m/uL, 727565
(2017-07-25 21:23:21)<<<<<<<< --- (0.0s)
(2017-07-25 21:23:21)>>>>>>>> red blood cell count, number/hpf, 24197
(2017-07-25 21:23:22)<<<<<<<< --- (1.0s)
(2017-07-25 21:23:22)<<<<<< --- (14.0s)
(2017-07-25 21:23:22)<<<< --- (81.0s)
(2017-07-25 21:23:22)>>>> Save DataFrames...
(2017-07-25 21:23:22)>>>>>> Save EXTRACTED DF: (1008859, 5)
(2017-07-25 21:23:24)<<<<<< --- (2.0s)
(2017-07-25 21:23:24)>>>>>> Save TRANSFORMED DF: (626423, 8)
(2017-07-25 21:23:26)<<<<<< --- (2.0s)
(2017-07-25 21:23:26)>>>>>> Save FINAL DF: (626413, 88)
(2017-07-25 21:23:29)<<<<<< --- (3.0s)
(2017-07-25 21:23:29)<<<< --- (7.0s)
(2017-07-25 21:23:30)<< --- (127.0s)
(2017-07-25 21:23:30)>> HEMATOCRIT: 2/7
(2017-07-25 21:23:30)>>>> Extract...
(2017-07-25 21:23:30)>>>>>> Extracting 5 items from chartevents
(2017-07-25 21:24:23)<<<<<< --- (53.0s)
(2017-07-25 21:24:23)>>>>>> Extracting 3 items from labevents
(2017-07-25 21:24:34)<<<<<< --- (11.0s)
(2017-07-25 21:24:34)>>>>>> Combine DF
(2017-07-25 21:24:34)<<<<<< --- (0.0s)
(2017-07-25 21:24:34)<<<< --- (64.0s)
(2017-07-25 21:24:34)>>>> Transform...
(2017-07-25 21:24:34)>>>>>> Clean UOM
(2017-07-25 21:24:54)<<<<<< --- (20.0s)
(2017-07-25 21:25:20)<<<< --- (46.0s)
(2017-07-25 21:25:20)>>>> Clean...
(2017-07-25 21:26:41)>>>>>> Nominal to OneHot
(2017-07-25 21:26:42)<<<<<< --- (1.0s)
(2017-07-25 21:26:42)>>>>>> Drop OOB data | (780649, 38)
(2017-07-25 21:26:43)>>>>>>>> hematocrit, percent, 1247045
(2017-07-25 21:27:30)<<<<<<<< --- (47.0s)
(2017-07-25 21:27:30)>>>>>>>> hematocrit, no_units, 23419470
(2017-07-25 21:27:31)<<<<<<<< --- (1.0s)
(2017-07-25 21:27:31)<<<<<< --- (49.0s)
(2017-07-25 21:27:31)<<<< --- (131.0s)
(2017-07-25 21:27:31)>>>> Save DataFrames...
(2017-07-25 21:27:31)>>>>>> Save EXTRACTED DF: (1443411, 5)
(2017-07-25 21:27:34)<<<<<< --- (3.0s)
(2017-07-25 21:27:34)>>>>>> Save TRANSFORMED DF: (780684, 8)
(2017-07-25 21:27:37)<<<<<< --- (3.0s)
(2017-07-25 21:27:37)>>>>>> Save FINAL DF: (780649, 38)
(2017-07-25 21:27:41)<<<<<< --- (4.0s)
(2017-07-25 21:27:41)<<<< --- (10.0s)
(2017-07-25 21:27:42)<< --- (252.0s)
(2017-07-25 21:27:42)>> MEAN CORPUSCULAR VOLUME: 3/7
(2017-07-25 21:27:42)>>>> Extract...
(2017-07-25 21:27:42)>>>>>> Extracting 1 items from labevents
(2017-07-25 21:27:52)<<<<<< --- (10.0s)
(2017-07-25 21:27:52)>>>>>> Combine DF
(2017-07-25 21:27:52)<<<<<< --- (0.0s)
(2017-07-25 21:27:52)<<<< --- (10.0s)
(2017-07-25 21:27:52)>>>> Transform...
(2017-07-25 21:27:52)>>>>>> Clean UOM
(2017-07-25 21:27:53)<<<<<< --- (1.0s)
(2017-07-25 21:28:08)<<<< --- (16.0s)
(2017-07-25 21:28:08)>>>> Clean...
(2017-07-25 21:28:32)>>>>>> Nominal to OneHot
(2017-07-25 21:28:33)<<<<<< --- (1.0s)
(2017-07-25 21:28:33)>>>>>> Drop OOB data | (570739, 35)
(2017-07-25 21:28:33)>>>>>>>> mean corpuscular volume, fL, 570398
(2017-07-25 21:28:41)<<<<<<<< --- (8.0s)
(2017-07-25 21:28:41)>>>>>>>> mean corpuscular volume, no_units, 18834405
(2017-07-25 21:28:42)<<<<<<<< --- (1.0s)
(2017-07-25 21:28:42)<<<<<< --- (9.0s)
(2017-07-25 21:28:42)<<<< --- (34.0s)
(2017-07-25 21:28:42)>>>> Save DataFrames...
(2017-07-25 21:28:42)>>>>>> Save EXTRACTED DF: (748056, 5)
(2017-07-25 21:28:43)<<<<<< --- (1.0s)
(2017-07-25 21:28:43)>>>>>> Save TRANSFORMED DF: (570742, 2)
(2017-07-25 21:28:44)<<<<<< --- (1.0s)
(2017-07-25 21:28:44)>>>>>> Save FINAL DF: (570739, 35)
(2017-07-25 21:28:46)<<<<<< --- (2.0s)
(2017-07-25 21:28:46)<<<< --- (4.0s)
(2017-07-25 21:28:46)<< --- (64.0s)
(2017-07-25 21:28:46)>> MEAN CORPUSCULAR HEMOGLOBIN: 4/7
(2017-07-25 21:28:46)>>>> Extract...
(2017-07-25 21:28:47)>>>>>> Extracting 1 items from labevents
(2017-07-25 21:28:57)<<<<<< --- (10.0s)
(2017-07-25 21:28:57)>>>>>> Combine DF
(2017-07-25 21:28:57)<<<<<< --- (0.0s)
(2017-07-25 21:28:57)<<<< --- (11.0s)
(2017-07-25 21:28:57)>>>> Transform...
(2017-07-25 21:28:57)>>>>>> Clean UOM
(2017-07-25 21:28:57)<<<<<< --- (0.0s)
(2017-07-25 21:29:11)<<<< --- (14.0s)
(2017-07-25 21:29:11)>>>> Clean...
(2017-07-25 21:29:36)>>>>>> Nominal to OneHot
(2017-07-25 21:29:36)<<<<<< --- (0.0s)
(2017-07-25 21:29:36)>>>>>> Drop OOB data | (570744, 30)
(2017-07-25 21:29:36)>>>>>>>> mean corpuscular hemoglobin, pg, 570407
(2017-07-25 21:29:43)<<<<<<<< --- (7.0s)
(2017-07-25 21:29:43)>>>>>>>> mean corpuscular hemoglobin, no_units, 15980850
(2017-07-25 21:29:44)<<<<<<<< --- (1.0s)
(2017-07-25 21:29:44)<<<<<< --- (8.0s)
(2017-07-25 21:29:44)<<<< --- (33.0s)
(2017-07-25 21:29:44)>>>> Save DataFrames...
(2017-07-25 21:29:44)>>>>>> Save EXTRACTED DF: (748073, 5)
(2017-07-25 21:29:45)<<<<<< --- (1.0s)
(2017-07-25 21:29:45)>>>>>> Save TRANSFORMED DF: (570745, 2)
(2017-07-25 21:29:46)<<<<<< --- (1.0s)
(2017-07-25 21:29:46)>>>>>> Save FINAL DF: (570744, 30)
(2017-07-25 21:29:48)<<<<<< --- (2.0s)
(2017-07-25 21:29:48)<<<< --- (4.0s)
(2017-07-25 21:29:48)<< --- (62.0s)
(2017-07-25 21:29:48)>> MEAN CORPUSCULAR HEMOGLOBIN CONCENTRATION: 5/7
(2017-07-25 21:29:49)>>>> Extract...
(2017-07-25 21:29:49)>>>>>> Extracting 1 items from labevents
(2017-07-25 21:29:59)<<<<<< --- (10.0s)
(2017-07-25 21:29:59)>>>>>> Combine DF
(2017-07-25 21:29:59)<<<<<< --- (0.0s)
(2017-07-25 21:29:59)<<<< --- (10.0s)
(2017-07-25 21:29:59)>>>> Transform...
(2017-07-25 21:29:59)>>>>>> Clean UOM
(2017-07-25 21:30:01)<<<<<< --- (2.0s)
(2017-07-25 21:30:16)<<<< --- (17.0s)
(2017-07-25 21:30:16)>>>> Clean...
g/dL
percent
(2017-07-25 21:30:40)>>>>>> Nominal to OneHot
(2017-07-25 21:30:41)<<<<<< --- (1.0s)
(2017-07-25 21:30:41)>>>>>> Drop OOB data | (570879, 29)
(2017-07-25 21:30:42)>>>>>>>> mean corpuscular hemoglobin concentration, no_units, 15413751
(2017-07-25 21:30:42)<<<<<<<< --- (0.0s)
(2017-07-25 21:30:42)>>>>>>>> mean corpuscular hemoglobin concentration, percent, 570708
(2017-07-25 21:30:42)<<<<<<<< --- (0.0s)
(2017-07-25 21:30:42)<<<<<< --- (1.0s)
(2017-07-25 21:30:42)<<<< --- (26.0s)
(2017-07-25 21:30:42)>>>> Save DataFrames...
(2017-07-25 21:30:42)>>>>>> Save EXTRACTED DF: (748226, 5)
(2017-07-25 21:30:44)<<<<<< --- (2.0s)
(2017-07-25 21:30:44)>>>>>> Save TRANSFORMED DF: (570881, 2)
(2017-07-25 21:30:45)<<<<<< --- (1.0s)
(2017-07-25 21:30:45)>>>>>> Save FINAL DF: (570879, 29)
(2017-07-25 21:30:47)<<<<<< --- (2.0s)
(2017-07-25 21:30:47)<<<< --- (5.0s)
(2017-07-25 21:30:47)<< --- (59.0s)
(2017-07-25 21:30:47)>> RED CELL DISTRIBUTION WIDTH: 6/7
(2017-07-25 21:30:47)>>>> Extract...
(2017-07-25 21:30:48)>>>>>> Extracting 1 items from labevents
(2017-07-25 21:30:57)<<<<<< --- (9.0s)
(2017-07-25 21:30:57)>>>>>> Combine DF
(2017-07-25 21:30:57)<<<<<< --- (0.0s)
(2017-07-25 21:30:57)<<<< --- (10.0s)
(2017-07-25 21:30:57)>>>> Transform...
(2017-07-25 21:30:57)>>>>>> Clean UOM
(2017-07-25 21:31:00)<<<<<< --- (3.0s)
(2017-07-25 21:31:15)<<<< --- (18.0s)
(2017-07-25 21:31:15)>>>> Clean...
(2017-07-25 21:31:39)>>>>>> Nominal to OneHot
(2017-07-25 21:31:39)<<<<<< --- (0.0s)
(2017-07-25 21:31:39)>>>>>> Drop OOB data | (569751, 30)
(2017-07-25 21:31:40)>>>>>>>> red cell distribution width, percent, 569430
(2017-07-25 21:31:48)<<<<<<<< --- (8.0s)
(2017-07-25 21:31:48)>>>>>>>> red cell distribution width, no_units, 15953046
(2017-07-25 21:31:48)<<<<<<<< --- (0.0s)
(2017-07-25 21:31:48)<<<<<< --- (9.0s)
(2017-07-25 21:31:48)<<<< --- (33.0s)
(2017-07-25 21:31:48)>>>> Save DataFrames...
(2017-07-25 21:31:48)>>>>>> Save EXTRACTED DF: (746896, 5)
(2017-07-25 21:31:50)<<<<<< --- (2.0s)
(2017-07-25 21:31:50)>>>>>> Save TRANSFORMED DF: (569752, 2)
(2017-07-25 21:31:51)<<<<<< --- (1.0s)
(2017-07-25 21:31:51)>>>>>> Save FINAL DF: (569751, 30)
(2017-07-25 21:31:53)<<<<<< --- (2.0s)
(2017-07-25 21:31:53)<<<< --- (5.0s)
(2017-07-25 21:31:54)<< --- (67.0s)
(2017-07-25 21:31:54)>> PLATELET COUNT: 7/7
(2017-07-25 21:31:54)>>>> Extract...
(2017-07-25 21:31:54)>>>>>> Extracting 6 items from chartevents
(2017-07-25 21:32:37)<<<<<< --- (43.0s)
(2017-07-25 21:32:37)>>>>>> Extracting 1 items from labevents
(2017-07-25 21:32:48)<<<<<< --- (11.0s)
(2017-07-25 21:32:48)>>>>>> Combine DF
(2017-07-25 21:32:48)<<<<<< --- (0.0s)
(2017-07-25 21:32:48)<<<< --- (54.0s)
(2017-07-25 21:32:48)>>>> Transform...
(2017-07-25 21:32:48)>>>>>> Clean UOM
(2017-07-25 21:32:51)<<<<<< --- (3.0s)
(2017-07-25 21:33:09)<<<< --- (21.0s)
(2017-07-25 21:33:09)>>>> Clean...
x10e3/uL
K/uL
x10e3/uL
K/uL
x10e3/uL
K/uL
x10e3/uL
K/uL
(2017-07-25 21:33:59)>>>>>> Nominal to OneHot
(2017-07-25 21:34:00)<<<<<< --- (1.0s)
(2017-07-25 21:34:00)>>>>>> Drop OOB data | (598176, 52)
(2017-07-25 21:34:01)>>>>>>>> platelet count, no_units, 28712448
(2017-07-25 21:34:01)<<<<<<<< --- (0.0s)
(2017-07-25 21:34:01)>>>>>>>> platelet count, K/uL, 932288
(2017-07-25 21:34:02)<<<<<<<< --- (1.0s)
(2017-07-25 21:34:02)<<<<<< --- (2.0s)
(2017-07-25 21:34:02)<<<< --- (53.0s)
(2017-07-25 21:34:02)>>>> Save DataFrames...
(2017-07-25 21:34:02)>>>>>> Save EXTRACTED DF: (1115911, 5)
(2017-07-25 21:34:03)<<<<<< --- (1.0s)
(2017-07-25 21:34:03)>>>>>> Save TRANSFORMED DF: (598204, 6)
(2017-07-25 21:34:05)<<<<<< --- (2.0s)
(2017-07-25 21:34:05)>>>>>> Save FINAL DF: (598176, 52)
(2017-07-25 21:34:07)<<<<<< --- (2.0s)
(2017-07-25 21:34:07)<<<< --- (5.0s)
(2017-07-25 21:34:08)<< --- (134.0s)
(2017-07-25 21:34:08) --- (765.0s)

# BMP

Reference for units: https://medlineplus.gov/ency/article/003462.htm

In [163]:
bmp_ids = []

## Get definitions

### Sodium (Na)

In [164]:
component = 'sodium serum'
new_id = data_dict.add_definition(component,units='mEq/L',lower_limit=0,upper_limit=200)
bmp_ids.append(new_id)

new_id = data_dict.add_definition(component,units='mmol/L',lower_limit=0,upper_limit=200)
bmp_ids.append(new_id)

In [168]:
out = explorer.search(['sodium',component,'mEq/L'])

In [172]:
out = out.loc[out.linksto.isin(['chartevents','labevents'])]

In [173]:
out[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
50983,SODIUM,NaN,labevents,CHEMISTRY,NaN,110.000000
1536,Sodium,,chartevents,Chemistry,,110.000000
220645,Sodium (serum),Sodium (serum),chartevents,Labs,None,94.666667
3726,ABG SODIUM,,chartevents,ABG'S,,93.333333
4195,ABG Sodium,,chartevents,ABG'S,,93.333333
5189,Sodium supps,,chartevents,,,88.000000
2692,URINE SODIUM,,chartevents,,,88.000000
51100,"SODIUM, URINE",NaN,labevents,CHEMISTRY,NaN,86.666667
51065,"SODIUM, STOOL",NaN,labevents,CHEMISTRY,NaN,86.666667
3109,Sodium Bicarb,,chartevents,,,85.333333
6299,sodium bicarb,,chartevents,,,85.333333
228389,Sodium (serum) (soft),Sodium (serum) (soft),chartevents,Labs,None,82.666667
51058,"SODIUM, PLEURAL",NaN,labevents,CHEMISTRY,NaN,82.333333
50848,"SODIUM, ASCITES",NaN,labevents,CHEMISTRY,NaN,82.333333
837,Sodium (135-148),,chartevents,Chemistry,,81.666667
227052,Sodium_ApacheIV,Sodium_ApacheIV,chartevents,Scores - APACHE IV (2),None,81.333333
3624,Sodium Chloride,,chartevents,,,81.333333
3803,Sodium (135-148),,chartevents,Chemistry,,80.666667
50834,"SODIUM, BODY FLUID",NaN,labevents,BLOOD GAS,NaN,77.333333
51042,"SODIUM, BODY FLUID",NaN,labevents,CHEMISTRY,NaN,77.333333

In [174]:
mimic.add_item_mapping(component,[50983,1536,220645,3726,4195,837,3803]).tail()

        component  itemid
168  sodium serum  220645
169  sodium serum    3726
170  sodium serum    4195
171  sodium serum     837
172  sodium serum    3803

In [175]:
out[20:40]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
6146,sodium bicarbonate,,chartevents,,,76.666667
50824,"SODIUM, WHOLE BLOOD",NaN,labevents,BLOOD GAS,NaN,76.000000
226776,SodiumApacheIIValue,SodiumApacheIIValue,chartevents,Scores - APACHE II,None,75.333333
226775,SodiumApacheIIScore,SodiumApacheIIScore,chartevents,Scores - APACHE II,None,75.333333
226534,Sodium (whole blood),Sodium (whole blood),chartevents,Labs,None,75.333333
8042,Immodium,,chartevents,,,75.000000
227053,SodiumScore_ApacheIV,SodiumScore_ApacheIV,chartevents,Scores - APACHE IV (2),None,74.000000
220640,ZPotassium (serum),ZPotassium (serum),chartevents,Labs,None,73.666667
3579,Precordium,,chartevents,,,69.666667
228390,Sodium (whole blood) (soft),Sodium (whole blood) (soft),chartevents,Labs,None,69.000000
227442,Potassium (serum),Potassium (serum),chartevents,Labs,None,68.000000
50947,I,NaN,labevents,CHEMISTRY,NaN,62.666667
8346,Ursodiol,,chartevents,,,60.333333
6129,time Lo,,chartevents,,,59.000000
224826,ZHCO3 (serum),ZHCO3 (serum),chartevents,Labs,None,58.333333
5040,scrotum,,chartevents,,,58.000000
7796,Scrotum,,chartevents,,,58.000000
51499,SPERM,NaN,labevents,HEMATOLOGY,NaN,58.000000
50960,MAGNESIUM,NaN,labevents,CHEMISTRY,NaN,57.666667
50971,POTASSIUM,NaN,labevents,CHEMISTRY,NaN,57.666667

In [176]:
# will include '(soft)' items
mimic.add_item_mapping(component,[50824,226534,228390]).tail()

        component  itemid
171  sodium serum     837
172  sodium serum    3803
173  sodium serum   50824
174  sodium serum  226534
175  sodium serum  228390

### Potassium (K)

In [177]:
component = 'potassium serum'
new_id = data_dict.add_definition(component,units='mEq/L',lower_limit=0,upper_limit=50)
bmp_ids.append(new_id)

new_id = data_dict.add_definition(component,units='mmol/L',lower_limit=0,upper_limit=50)
bmp_ids.append(new_id)

In [178]:
out = explorer.search(['potassium',component,'mEq/L'])
out = out.loc[out.linksto.isin(['chartevents','labevents'])]
out[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
1535,Potassium,,chartevents,Chemistry,,110.000000
50833,POTASSIUM,NaN,labevents,BLOOD GAS,NaN,110.000000
50971,POTASSIUM,NaN,labevents,CHEMISTRY,NaN,110.000000
4194,ABG Potassium,,chartevents,ABG'S,,98.000000
3725,ABG POTASSIUM,,chartevents,ABG'S,,98.000000
227442,Potassium (serum),Potassium (serum),chartevents,Labs,None,95.666667
2691,URINE POTASSIUM,,chartevents,,,93.333333
51097,"POTASSIUM, URINE",NaN,labevents,CHEMISTRY,NaN,92.333333
51064,"POTASSIUM, STOOL",NaN,labevents,CHEMISTRY,NaN,92.333333
220640,ZPotassium (serum),ZPotassium (serum),chartevents,Labs,None,89.666667
51057,"POTASSIUM, PLEURAL",NaN,labevents,CHEMISTRY,NaN,88.666667
50847,"POTASSIUM, ASCITES",NaN,labevents,CHEMISTRY,NaN,88.666667
3578,Potassium Chloride,,chartevents,,,88.000000
829,Potassium (3.5-5.3),,chartevents,Chemistry,,87.666667
3792,Potassium (3.5-5.3),,chartevents,Chemistry,,87.000000
4381,Potassium Phosphate,,chartevents,,,86.000000
2856,Potassium phosphate,,chartevents,,,86.000000
5167,potassium Phosphate,,chartevents,,,86.000000
1821,potassium phosphate,,chartevents,,,86.000000
5195,potassium phosphorus,,chartevents,,,84.666667

In [179]:
mimic.add_item_mapping(component,[1535,50833,50971,4194,3725,227442,829,3792]).tail()

           component  itemid
179  potassium serum    4194
180  potassium serum    3725
181  potassium serum  227442
182  potassium serum     829
183  potassium serum    3792

In [180]:
out[20:40]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
51041,"POTASSIUM, BODY FLUID",NaN,labevents,CHEMISTRY,NaN,84.000000
50822,"POTASSIUM, WHOLE BLOOD",NaN,labevents,BLOOD GAS,NaN,82.666667
226772,PotassiumApacheIIValue,PotassiumApacheIIValue,chartevents,Scores - APACHE II,None,82.000000
227464,Potassium (whole blood),Potassium (whole blood),chartevents,Labs,None,82.000000
226771,PotassiumApacheIIScore,PotassiumApacheIIScore,chartevents,Scores - APACHE II,None,82.000000
226535,ZPotassium (whole blood),ZPotassium (whole blood),chartevents,Labs,None,81.000000
220645,Sodium (serum),Sodium (serum),chartevents,Labs,None,66.000000
3793,ProTime,,chartevents,Heme/Coag,,61.000000
6129,time Lo,,chartevents,,,59.000000
50983,SODIUM,NaN,labevents,CHEMISTRY,NaN,57.666667
1536,Sodium,,chartevents,Chemistry,,57.666667
50947,I,NaN,labevents,CHEMISTRY,NaN,56.666667
220635,Magnesium,Magnesium,chartevents,Labs,None,56.000000
1615,Time Low,,chartevents,,,56.000000
1532,Magnesium,,chartevents,Chemistry,,56.000000
2652,APROTANIN,,chartevents,,,56.000000
50960,MAGNESIUM,NaN,labevents,CHEMISTRY,NaN,56.000000
3212,time low,,chartevents,,,56.000000
2673,aprotanin,,chartevents,,,56.000000
225421,DME,DME,chartevents,Case Management,,55.666667

In [181]:
mimic.add_item_mapping(component,[50822,227464]).tail()

           component  itemid
181  potassium serum  227442
182  potassium serum     829
183  potassium serum    3792
184  potassium serum   50822
185  potassium serum  227464

### Chloride (Cl)

In [182]:
component = 'chloride serum'
new_id = data_dict.add_definition(component,units='mmol/L',lower_limit=0,upper_limit=200)
bmp_ids.append(new_id)

In [183]:
out = explorer.search(['chloride',component,'mmol/L'])
out = out.loc[out.linksto.isin(['chartevents','labevents'])]
out[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
50902,CHLORIDE,NaN,labevents,CHEMISTRY,NaN,110.000000
1523,Chloride,,chartevents,Chemistry,,110.000000
4193,ABG Chloride,,chartevents,ABG's,,96.666667
220602,Chloride (serum),Chloride (serum),chartevents,Labs,None,95.333333
51013,"CHLORIDE, CSF",NaN,labevents,CHEMISTRY,NaN,95.333333
51078,"CHLORIDE, URINE",NaN,labevents,CHEMISTRY,NaN,91.000000
51062,"CHLORIDE, STOOL",NaN,labevents,CHEMISTRY,NaN,91.000000
3624,Sodium Chloride,,chartevents,,,90.000000
5753,Calcium Chloride,,chartevents,,,88.000000
51050,"CHLORIDE, PLEURAL",NaN,labevents,CHEMISTRY,NaN,87.000000
50839,"CHLORIDE, ASCITES",NaN,labevents,CHEMISTRY,NaN,87.000000
788,Chloride (100-112),,chartevents,Chemistry,,86.333333
3747,Chloride (100-112),,chartevents,Chemistry,,85.333333
228385,Chloride (serum) (soft),Chloride (serum) (soft),chartevents,Labs,None,84.666667
3578,Potassium Chloride,,chartevents,,,84.666667
51030,"CHLORIDE, BODY FLUID",NaN,labevents,CHEMISTRY,NaN,82.000000
50806,"CHLORIDE, WHOLE BLOOD",NaN,labevents,BLOOD GAS,NaN,80.666667
226536,Chloride (whole blood),Chloride (whole blood),chartevents,Labs,None,80.000000
3724,ABG CHLOIRDE,,chartevents,ABG's,,76.000000
228386,Chloride (whole blood) (soft),Chloride (whole blood) (soft),chartevents,Labs,None,73.666667

          component  itemid
191  chloride serum    3747
192  chloride serum   50806
193  chloride serum  226536
194  chloride serum    3724
195  chloride serum  228386

In [186]:
out[20:40]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
2516,CARIPORIDE,,chartevents,,,65.666667
2493,cariporide,,chartevents,,,65.666667
220545,Hematocrit (serum),Hematocrit (serum),chartevents,Labs,None,64.666667
220621,Glucose (serum),Glucose (serum),chartevents,Labs,None,64.333333
4385,metoclopramide,,chartevents,,,63.666667
5194,Metoclopromide,,chartevents,,,63.666667
4674,Metocloprimide,,chartevents,,,63.666667
4723,Metoclopramide,,chartevents,,,63.666667
4727,mitoclopramide,,chartevents,,,63.666667
227443,HCO3 (serum),HCO3 (serum),chartevents,Labs,None,63.333333
51081,"CREATININE, SERUM",NaN,labevents,CHEMISTRY,NaN,63.000000
5123,Chloral hydrate,,chartevents,,,61.666667
4349,Chloral Hydrate,,chartevents,,,61.666667
4648,chloral hydrate,,chartevents,,,61.666667
7276,Loperamide,,chartevents,,,61.333333
5316,CLONIS,,chartevents,,,60.333333
4994,ECHO,,chartevents,,,58.333333
3686,Void,,chartevents,,,58.333333
6359,Halo,,chartevents,,,58.333333
3414,Excoriated,,chartevents,,,58.333333

### Carbon Dioxide (CO2)

In [187]:
component = 'carbon dioxide serum'
new_id = data_dict.add_definition(component,units='mmol/L',lower_limit=0,upper_limit=200)
bmp_ids.append(new_id)

In [188]:
out = explorer.search(['co2',component,'mmol/L'])
out = out.loc[out.linksto.isin(['chartevents','labevents'])]
out[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
3835,pCO2,,chartevents,ABG'S,,100.666667
3784,PCO2,,chartevents,ABG's,,100.666667
3061,VCO2,,chartevents,,,100.666667
50818,PCO2,NaN,labevents,BLOOD GAS,NaN,100.666667
787,Carbon Dioxide,,chartevents,Chemistry,,98.000000
228640,EtCO2,EtCO2,chartevents,Routine Vital Signs,None,93.333333
1818,PECO2,,chartevents,,,93.333333
6149,PeCO2,,chartevents,,,93.333333
1817,ETCO2,,chartevents,,,93.333333
2772,SJ CO2,,chartevents,,,88.000000
143,CvO2,,chartevents,,,79.666667
114,CaO2,,chartevents,,,79.666667
4199,TCO2 (cap),,chartevents,Other ABGs,,77.000000
4201,pCO2 (cap),,chartevents,Other ABGs,,77.000000
3810,Total CO2,,chartevents,Chemistry,,76.666667
3830,Venous CO2,,chartevents,Venous ABG,,74.000000
3651,TcO2 [Value],,chartevents,,,72.000000
3809,TCO2 (other),,chartevents,Other ABGs,,72.000000
3832,Venous TCO2,,chartevents,Venous ABG,,72.000000
3836,pCO2 (other),,chartevents,Other ABGs,,72.000000

In [189]:
mimic.add_item_mapping(component,[787,3810]).tail()

                component  itemid
193        chloride serum  226536
194        chloride serum    3724
195        chloride serum  228386
196  carbon dioxide serum     787
197  carbon dioxide serum    3810

In [190]:
out[20:40]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
8536,TcCO2 [Value],,chartevents,,,70.333333
226062,Venous CO2 Pressure,PCO2 (Venous),chartevents,Labs,mmHg,70.333333
541,PetCO2/TcCO2,,chartevents,,,70.000000
858,Venous PvCO2,,chartevents,VBG's,,70.000000
227036,PCO2_ApacheIV,PCO2_ApacheIV,chartevents,Scores - APACHE IV (2),None,68.666667
709,VCO2 (180-200),,chartevents,,,68.333333
1037,O2 %,,chartevents,,,68.000000
3808,TCO2 (21-30),,chartevents,Chemistry,,67.666667
1390,DO2,,chartevents,,,67.000000
1371,cco,,chartevents,,,67.000000
1367,CCO,,chartevents,,,67.000000
51167,CD2,NaN,labevents,HEMATOLOGY,NaN,67.000000
227989,Intra Cranial Pressure #2,IC2,chartevents,Hemodynamics,mmHg,67.000000
220235,Arterial CO2 Pressure,PCO2 (Arterial),chartevents,Labs,mmHg,67.000000
3837,pO2,,chartevents,ABG'S,,67.000000
51399,CD2,NaN,labevents,HEMATOLOGY,NaN,67.000000
711,VO2,,chartevents,,,67.000000
3785,PO2,,chartevents,ABG's,,67.000000
6267,NO2,,chartevents,,,67.000000
6799,COO,,chartevents,,,67.000000

### Blood Urea Nitrogen (BUN)

In [191]:
component = 'blood urea nitrogen serum'
new_id = data_dict.add_definition(component,units='mmol/L',lower_limit=0,upper_limit=200)
bmp_ids.append(new_id)

new_id = data_dict.add_definition(component,units='mg/dL',lower_limit=0,upper_limit=500)
bmp_ids.append(new_id)

In [193]:
out = explorer.search(['BUN',component,'blood urea nitrogen','mmol/L','mg/dL'])
out = out.loc[out.linksto.isin(['chartevents','labevents'])]
out[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
5876,bun,,chartevents,,,110.000000
225624,BUN,BUN,chartevents,Labs,None,110.000000
1162,BUN,,chartevents,,,110.000000
220228,Hemoglobin,Hemoglobin,chartevents,Labs,g/dl,102.666667
51006,UREA NITROGEN,NaN,labevents,CHEMISTRY,NaN,97.333333
227213,Vecuronium (Intubation),Vecuronium (Intubation),chartevents,Intubation,mg,81.333333
227212,Etomidate (Intubation),Etomidate (Intubation),chartevents,Intubation,mg,81.333333
227211,Ketamine (Intubation),Ketamine (Intubation),chartevents,Intubation,mg,81.333333
227210,Propofol (Intubation),Propofol (Intubation),chartevents,Intubation,mg,81.333333
227214,Cis-atracurium (Intubation),Cis-atracurium (Intubation),chartevents,Intubation,mg,81.333333
227215,Succynlocholine (Intubation),Succynlocholine (Intubation),chartevents,Intubation,mg,81.333333
781,BUN (6-20),,chartevents,Chemistry,,77.000000
3737,BUN (6-20),,chartevents,Chemistry,,74.333333
51466,BLOOD,NaN,labevents,HEMATOLOGY,NaN,71.333333
227000,BUN_ApacheIV,BUN_ApacheIV,chartevents,Scores - APACHE IV (2),None,70.000000
8220,Effluent BUN,,chartevents,,,70.000000
51104,"UREA NITROGEN, URINE",NaN,labevents,CHEMISTRY,NaN,69.333333
50851,"UREA NITROGEN, ASCITES",NaN,labevents,CHEMISTRY,NaN,69.000000
51045,"UREA NITROGEN, BODY FLUID",NaN,labevents,CHEMISTRY,NaN,68.666667
7294,BNP,,chartevents,,,67.000000

In [194]:
mimic.add_item_mapping(component,[5876,225624,51006,781,3737]).tail()

                     component  itemid
198  blood urea nitrogen serum    5876
199  blood urea nitrogen serum  225624
200  blood urea nitrogen serum   51006
201  blood urea nitrogen serum     781
202  blood urea nitrogen serum    3737

In [195]:
out[20:40]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
3334,Blood Out,,chartevents,,,64.000000
227001,BunScore_ApacheIV,BunScore_ApacheIV,chartevents,Scores - APACHE IV (2),None,63.333333
51150,BLOOD PARASITE SMEAR,NaN,labevents,HEMATOLOGY,NaN,63.000000
227456,Albumin,Albumin,chartevents,Labs,None,62.333333
3066,albumin,,chartevents,,,62.333333
50862,ALBUMIN,NaN,labevents,CHEMISTRY,NaN,62.333333
2358,ALBUMIN,,chartevents,,,62.333333
1521,Albumin,,chartevents,Chemistry,,62.333333
938,blood cultures,,chartevents,,,62.000000
3333,Blood Cultures,,chartevents,,,62.000000
942,BLOOD CULTURES,,chartevents,,,62.000000
704,Turn,,chartevents,,,60.333333
51278,RED BLOOD CELL FRAGMENTS,NaN,labevents,HEMATOLOGY,NaN,59.666667
50930,GLOBULIN,NaN,labevents,CHEMISTRY,NaN,59.000000
220574,ZAlbumin,ZAlbumin,chartevents,Labs,None,59.000000
226473,Blood Transfusion Consent,Blood Transfusion Consent,chartevents,General,,59.000000
51011,<ALBUMIN>,NaN,labevents,CHEMISTRY,NaN,59.000000
50813,LACTATE,NaN,labevents,BLOOD GAS,NaN,58.000000
50822,"POTASSIUM, WHOLE BLOOD",NaN,labevents,BLOOD GAS,NaN,58.000000
50806,"CHLORIDE, WHOLE BLOOD",NaN,labevents,BLOOD GAS,NaN,58.000000

### Creatinine (Cr)

In [199]:
component = 'creatinine serum'
new_id = data_dict.add_definition(component,units='umol/L',lower_limit=0,upper_limit=10000)
bmp_ids.append(new_id)

new_id = data_dict.add_definition(component,units='mg/dL',lower_limit=0,upper_limit=100)
bmp_ids.append(new_id)

In [200]:
out = explorer.search(['Cr',component,'umol/L','mg/dL'])
out = out.loc[out.linksto.isin(['chartevents','labevents'])]
out[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
220228,Hemoglobin,Hemoglobin,chartevents,Labs,g/dl,102.666667
51081,"CREATININE, SERUM",NaN,labevents,CHEMISTRY,NaN,97.000000
3380,Cry,,chartevents,,,96.666667
1525,Creatinine,,chartevents,Chemistry,,94.666667
220615,Creatinine,Creatinine,chartevents,Labs,None,94.666667
50912,CREATININE,NaN,labevents,CHEMISTRY,NaN,94.666667
227213,Vecuronium (Intubation),Vecuronium (Intubation),chartevents,Intubation,mg,81.333333
227211,Ketamine (Intubation),Ketamine (Intubation),chartevents,Intubation,mg,81.333333
227215,Succynlocholine (Intubation),Succynlocholine (Intubation),chartevents,Intubation,mg,81.333333
227214,Cis-atracurium (Intubation),Cis-atracurium (Intubation),chartevents,Intubation,mg,81.333333
227210,Propofol (Intubation),Propofol (Intubation),chartevents,Intubation,mg,81.333333
227212,Etomidate (Intubation),Etomidate (Intubation),chartevents,Intubation,mg,81.333333
51052,"CREATININE, PLEURAL",NaN,labevents,CHEMISTRY,NaN,77.000000
51082,"CREATININE, URINE",NaN,labevents,CHEMISTRY,NaN,74.333333
6214,AMMONIA/12-47 UMOL/L,,chartevents,,,74.000000
4189,Sucrose,,chartevents,,,72.666667
7796,Scrotum,,chartevents,,,72.666667
5040,scrotum,,chartevents,,,72.666667
50986,TACROFK,NaN,labevents,CHEMISTRY,NaN,72.666667
4545,CPR,,chartevents,,,70.000000

In [201]:
mimic.add_item_mapping(component,[51081,1525,220615,50912]).tail()

                     component  itemid
202  blood urea nitrogen serum    3737
203           creatinine serum   51081
204           creatinine serum    1525
205           creatinine serum  220615
206           creatinine serum   50912

In [202]:
out[20:40]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
51080,CREATININE CLEARANCE,NaN,labevents,CHEMISTRY,NaN,69.666667
50841,"CREATININE, ASCITES",NaN,labevents,CHEMISTRY,NaN,69.333333
4549,criticaid,,chartevents,,,67.333333
6815,Critacaid,,chartevents,,,67.333333
4526,lacrilube,,chartevents,,,67.333333
6180,Lacrilube,,chartevents,,,67.333333
1389,egg crate,,chartevents,,,67.333333
51539,TACROFK_2,NaN,labevents,CHEMISTRY,NaN,67.333333
5953,CRITICAID,,chartevents,,,67.333333
4922,open crib,,chartevents,,,67.333333
4595,Criticaid,,chartevents,,,67.333333
51067,24 HR CREATININE,NaN,labevents,CHEMISTRY,NaN,67.000000
5811,urine creatinine,,chartevents,,,67.000000
51106,URINE CREATININE,NaN,labevents,CHEMISTRY,NaN,67.000000
51099,PROTEIN/CREATININE RATIO,NaN,labevents,CHEMISTRY,NaN,66.666667
791,Creatinine (0-1.3),,chartevents,Chemistry,,65.666667
51032,"CREATININE, BODY FLUID",NaN,labevents,CHEMISTRY,NaN,65.666667
51246,MACROCYTES,NaN,labevents,HEMATOLOGY,NaN,65.333333
51352,MACROPHAGE,NaN,labevents,HEMATOLOGY,NaN,65.333333
51252,MICROCYTES,NaN,labevents,HEMATOLOGY,NaN,65.333333

In [203]:
mimic.add_item_mapping(component,[791]).tail()

            component  itemid
203  creatinine serum   51081
204  creatinine serum    1525
205  creatinine serum  220615
206  creatinine serum   50912
207  creatinine serum     791

In [204]:
out[40:60]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
1335,Tacrolimus,,chartevents,,,65.333333
51221,HEMATOCRIT,NaN,labevents,HEMATOLOGY,NaN,65.333333
51376,MACROPHAGE,NaN,labevents,HEMATOLOGY,NaN,65.333333
51480,HEMATOCRIT,NaN,labevents,HEMATOLOGY,NaN,65.333333
51428,MACROPHAGE,NaN,labevents,HEMATOLOGY,NaN,65.333333
5709,TOX SCREEN,,chartevents,,,65.333333
6628,critic-aid,,chartevents,,,65.333333
4676,Critic-aid,,chartevents,,,65.333333
5604,criticaide,,chartevents,,,65.333333
813,Hematocrit,,chartevents,Hematology,,65.333333
51117,MACROPHAGE,NaN,labevents,HEMATOLOGY,NaN,65.333333
50911,"CREATINE KINASE, MB ISOENZYME",NaN,labevents,CHEMISTRY,NaN,65.000000
50910,CREATINE KINASE (CK),NaN,labevents,CHEMISTRY,NaN,65.000000
51021,"CREATININE, JOINT FLUID",NaN,labevents,CHEMISTRY,NaN,64.666667
51070,"ALBUMIN/CREATININE, URINE",NaN,labevents,CHEMISTRY,NaN,64.666667
226751,CreatinineApacheIIScore,CreatinineApacheIIScore,chartevents,Scores - APACHE II,None,64.333333
3750,Creatinine (0-0.7),,chartevents,Chemistry,,64.333333
226752,CreatinineApacheIIValue,CreatinineApacheIIValue,chartevents,Scores - APACHE II,None,64.333333
220602,Chloride (serum),Chloride (serum),chartevents,Labs,None,64.333333
1919,Urine creat,,chartevents,,,64.000000

In [205]:
mimic.add_item_mapping(component,[3750]).tail()

            component  itemid
204  creatinine serum    1525
205  creatinine serum  220615
206  creatinine serum   50912
207  creatinine serum     791
208  creatinine serum    3750

In [207]:
out[60:80]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
6061,Sucrose H20,,chartevents,,,64.000000
2224,URINE CREAT,,chartevents,,,64.000000
8225,Effluent Cr,,chartevents,,,64.000000
51447,MACROPHAGES,NaN,labevents,HEMATOLOGY,NaN,64.000000
6022,Critic Aide,,chartevents,,,64.000000
227005,Creatinine_ApacheIV,Creatinine_ApacheIV,chartevents,Scores - APACHE IV (2),None,63.000000
50913,CRYOGLOBULIN,NaN,labevents,CHEMISTRY,NaN,62.666667
6086,Micro-Neb tx,,chartevents,,,62.666667
6485,sacral wound,,chartevents,,,62.666667
6323,solumedol,,chartevents,,,62.333333
51073,"AMYLASE/CREATININE RATIO, URINE",NaN,labevents,CHEMISTRY,NaN,62.333333
220545,Hematocrit (serum),Hematocrit (serum),chartevents,Labs,None,61.666667
4840,desitin cream,,chartevents,,,61.333333
4663,CIRC,,chartevents,,,61.333333
4585,circ,,chartevents,,,61.333333
4707,Circ,,chartevents,,,61.333333
98,CT #2 Crepitus,,chartevents,,,60.666667
93,CT #1 Crepitus,,chartevents,,,60.666667
103,CT #3 Crepitus,,chartevents,,,60.666667
108,CT #4 Crepitus,,chartevents,,,60.666667

### Glucose

In [208]:
component = 'glucose serum'
new_id = data_dict.add_definition(component,units='mmol/L',lower_limit=0,upper_limit=500)
bmp_ids.append(new_id)

new_id = data_dict.add_definition(component,units='mg/dL',lower_limit=0,upper_limit=10000)
bmp_ids.append(new_id)

In [209]:
out = explorer.search(['glucose','serum glucose',component,'mmol/L','mg/dL'])
out = out.loc[out.linksto.isin(['chartevents','labevents'])]
out[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
50931,GLUCOSE,NaN,labevents,CHEMISTRY,NaN,110.000000
1529,Glucose,,chartevents,Chemistry,,110.000000
50809,GLUCOSE,NaN,labevents,BLOOD GAS,NaN,110.000000
51478,GLUCOSE,NaN,labevents,HEMATOLOGY,NaN,110.000000
220228,Hemoglobin,Hemoglobin,chartevents,Labs,g/dl,102.666667
220621,Glucose (serum),Glucose (serum),chartevents,Labs,None,95.000000
1812,abg: glucose,,chartevents,,,94.000000
51014,"GLUCOSE, CSF",NaN,labevents,CHEMISTRY,NaN,94.000000
3745,BloodGlucose,,chartevents,Quick Admit,,92.666667
3744,Blood Glucose,,chartevents,Chemistry,,90.000000
3816,Urine Glucose,,chartevents,Urine,,90.000000
51084,"GLUCOSE, URINE",NaN,labevents,CHEMISTRY,NaN,89.000000
811,Glucose (70-105),,chartevents,Chemistry,,86.000000
50842,"GLUCOSE, ASCITES",NaN,labevents,CHEMISTRY,NaN,85.000000
51053,"GLUCOSE, PLEURAL",NaN,labevents,CHEMISTRY,NaN,85.000000
227015,Glucose_ApacheIV,Glucose_ApacheIV,chartevents,Scores - APACHE IV (2),None,84.000000
3447,Glucose Monitor #,,chartevents,,,84.000000
51242,LUC,NaN,labevents,HEMATOLOGY,NaN,83.333333
227210,Propofol (Intubation),Propofol (Intubation),chartevents,Intubation,mg,81.333333
227211,Ketamine (Intubation),Ketamine (Intubation),chartevents,Intubation,mg,81.333333

In [210]:
mimic.add_item_mapping(component,[50931,1529,50809,220621,1812,3745,3744,811]).tail()

         component  itemid
212  glucose serum  220621
213  glucose serum    1812
214  glucose serum    3745
215  glucose serum    3744
216  glucose serum     811

In [211]:
out[20:40]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
227213,Vecuronium (Intubation),Vecuronium (Intubation),chartevents,Intubation,mg,81.333333
227214,Cis-atracurium (Intubation),Cis-atracurium (Intubation),chartevents,Intubation,mg,81.333333
227212,Etomidate (Intubation),Etomidate (Intubation),chartevents,Intubation,mg,81.333333
227215,Succynlocholine (Intubation),Succynlocholine (Intubation),chartevents,Intubation,mg,81.333333
51034,"GLUCOSE, BODY FLUID",NaN,labevents,CHEMISTRY,NaN,80.000000
807,Fingerstick Glucose,,chartevents,Chemistry,,79.333333
1455,fingerstick glucose,,chartevents,,,79.333333
1310,FINGERSTICK GLUCOSE.,,chartevents,,,78.666667
51022,"GLUCOSE, JOINT FLUID",NaN,labevents,CHEMISTRY,NaN,78.666667
226537,Glucose (whole blood),Glucose (whole blood),chartevents,Labs,None,78.000000
225664,Glucose finger stick,Glucose finger stick,chartevents,Labs,None,78.000000
2338,finger stick glucose,,chartevents,,,78.000000
227016,GlucoseScore_ApacheIV,GlucoseScore_ApacheIV,chartevents,Scores - APACHE IV (2),None,76.666667
1191,Glucometer,,chartevents,,,76.000000
4189,Sucrose,,chartevents,,,73.000000
228388,Glucose (whole blood) (soft),Glucose (whole blood) (soft),chartevents,Labs,None,71.666667
2140,Glucagon,,chartevents,,,68.333333
1987,glucagon,,chartevents,,,68.333333
227443,HCO3 (serum),HCO3 (serum),chartevents,Labs,None,68.000000
220602,Chloride (serum),Chloride (serum),chartevents,Labs,None,66.000000

In [212]:
mimic.add_item_mapping(component,[226537,228388]).tail()

         component  itemid
214  glucose serum    3745
215  glucose serum    3744
216  glucose serum     811
217  glucose serum  226537
218  glucose serum  228388

In [213]:
out[40:60]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
6470,CA GLUCONATE,,chartevents,,,65.666667
3214,Ca++ Gluconate,,chartevents,,,63.666667
6061,Sucrose H20,,chartevents,,,61.000000
2416,finger stick glucos.,,chartevents,,,58.666667
228385,Chloride (serum) (soft),Chloride (serum) (soft),chartevents,Labs,None,58.333333
836,Serum Osmolality,,chartevents,Chemistry,,57.333333
225684,Serum Osmolality,Serum Osmolality,chartevents,Labs,None,57.333333
7885,Glucagon infusion,,chartevents,,,57.000000
51421,GLYCO A,NaN,labevents,HEMATOLOGY,NaN,57.000000
51336,GLYCO A,NaN,labevents,HEMATOLOGY,NaN,57.000000
3219,calcium gluconate,,chartevents,,,57.000000
3347,Calcium Gluconate,,chartevents,,,57.000000
1663,Calcium gluconate,,chartevents,,,57.000000
51217,GLYCO A,NaN,labevents,HEMATOLOGY,NaN,57.000000
2185,CALCIUM GLUCONATE,,chartevents,,,57.000000
224153,Replacement Rate,Replacement Rate,chartevents,Dialysis,ml/hr,56.666667
228159,Purge Solution Flow Rate,Purge Solution Flow Rate,chartevents,Impella,ml/hr,56.666667
228181,ITBVI (PiCCO),ITBVI (PiCCO),chartevents,PiCCO,mL/m2,56.666667
228180,GEDI (PiCCO),GEDI (PiCCO),chartevents,PiCCO,mL/m2,56.666667
228179,ELWI (PiCCO),ELWI (PiCCO),chartevents,PiCCO,ml/kg,56.666667

### Add Panel

In [215]:
data_dict.tables.definitions.loc[bmp_ids]

,component,units,variable_type,clinical_source,lower,upper,list_id
def_id,,,,,,,
34,sodium serum,mEq/L,qn,observation,0.0,200.0,NaN
35,sodium serum,mmol/L,qn,observation,0.0,200.0,NaN
36,potassium serum,mEq/L,qn,observation,0.0,50.0,NaN
37,potassium serum,mmol/L,qn,observation,0.0,50.0,NaN
38,chloride serum,mmol/L,qn,observation,0.0,200.0,NaN
39,carbon dioxide serum,mmol/L,qn,observation,0.0,200.0,NaN
40,blood urea nitrogen serum,mmol/L,qn,observation,0.0,200.0,NaN
41,blood urea nitrogen serum,mg/dL,qn,observation,0.0,500.0,NaN
42,creatinine serum,umol/L,qn,observation,0.0,10000.0,NaN
43,creatinine serum,mg/dL,qn,observation,0.0,100.0,NaN
44,glucose serum,mmol/L,qn,observation,0.0,500.0,NaN
45,glucose serum,mg/dL,qn,observation,0.0,10000.0,NaN

In [216]:
data_dict.add_panel('basic metabolic panel',{data_dict.table_names.definitions : bmp_ids})

14

### Bonus: Fingerstick Blood Glucose

In [218]:
component = 'glucose fingerstick'
data_dict.add_definition(component,units='mmol/L',lower_limit=0,upper_limit=500)
data_dict.add_definition(component,units='mg/dL',lower_limit=0,upper_limit=10000)

47

In [219]:
out = explorer.search(['glucose','fingerstick glucose','fingerstick','point of care glucose','poc glucose','bedside glucose',component,'mmol/L','mg/dL'])
out = out.loc[out.linksto.isin(['chartevents','labevents'])]
out[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
6278,fingerstick,,chartevents,,,110.000000
1529,Glucose,,chartevents,Chemistry,,110.000000
2681,FINGERSTICK,,chartevents,,,110.000000
807,Fingerstick Glucose,,chartevents,Chemistry,,110.000000
51478,GLUCOSE,NaN,labevents,HEMATOLOGY,NaN,110.000000
50809,GLUCOSE,NaN,labevents,BLOOD GAS,NaN,110.000000
50931,GLUCOSE,NaN,labevents,CHEMISTRY,NaN,110.000000
1455,fingerstick glucose,,chartevents,,,110.000000
1310,FINGERSTICK GLUCOSE.,,chartevents,,,109.000000
220228,Hemoglobin,Hemoglobin,chartevents,Labs,g/dl,102.666667
1845,fingerstick bs,,chartevents,,,102.000000
5088,fingers,,chartevents,,,95.333333
1189,finger stick,,chartevents,,,94.333333
1812,abg: glucose,,chartevents,,,94.000000
51014,"GLUCOSE, CSF",NaN,labevents,CHEMISTRY,NaN,94.000000
3745,BloodGlucose,,chartevents,Quick Admit,,92.666667
3816,Urine Glucose,,chartevents,Urine,,90.000000
3744,Blood Glucose,,chartevents,Chemistry,,90.000000
51084,"GLUCOSE, URINE",NaN,labevents,CHEMISTRY,NaN,89.000000
2338,finger stick glucose,,chartevents,,,88.000000

In [220]:
mimic.add_item_mapping(component,[807,1455,1310,2338]).tail()

               component  itemid
218        glucose serum  228388
219  glucose fingerstick     807
220  glucose fingerstick    1455
221  glucose fingerstick    1310
222  glucose fingerstick    2338

In [221]:
out[20:40]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
225664,Glucose finger stick,Glucose finger stick,chartevents,Labs,None,88.000000
220621,Glucose (serum),Glucose (serum),chartevents,Labs,None,88.000000
811,Glucose (70-105),,chartevents,Chemistry,,86.000000
51053,"GLUCOSE, PLEURAL",NaN,labevents,CHEMISTRY,NaN,85.000000
2416,finger stick glucos.,,chartevents,,,85.000000
50842,"GLUCOSE, ASCITES",NaN,labevents,CHEMISTRY,NaN,85.000000
3447,Glucose Monitor #,,chartevents,,,84.000000
227015,Glucose_ApacheIV,Glucose_ApacheIV,chartevents,Scores - APACHE IV (2),None,84.000000
51242,LUC,NaN,labevents,HEMATOLOGY,NaN,83.333333
227214,Cis-atracurium (Intubation),Cis-atracurium (Intubation),chartevents,Intubation,mg,81.333333
227215,Succynlocholine (Intubation),Succynlocholine (Intubation),chartevents,Intubation,mg,81.333333
227210,Propofol (Intubation),Propofol (Intubation),chartevents,Intubation,mg,81.333333
227211,Ketamine (Intubation),Ketamine (Intubation),chartevents,Intubation,mg,81.333333
227212,Etomidate (Intubation),Etomidate (Intubation),chartevents,Intubation,mg,81.333333
227213,Vecuronium (Intubation),Vecuronium (Intubation),chartevents,Intubation,mg,81.333333
51034,"GLUCOSE, BODY FLUID",NaN,labevents,CHEMISTRY,NaN,80.000000
51022,"GLUCOSE, JOINT FLUID",NaN,labevents,CHEMISTRY,NaN,78.666667
226537,Glucose (whole blood),Glucose (whole blood),chartevents,Labs,None,78.000000
227016,GlucoseScore_ApacheIV,GlucoseScore_ApacheIV,chartevents,Scores - APACHE IV (2),None,76.666667
1191,Glucometer,,chartevents,,,76.000000

In [222]:
mimic.add_item_mapping(component,[225664,2416]).tail()

               component  itemid
220  glucose fingerstick    1455
221  glucose fingerstick    1310
222  glucose fingerstick    2338
223  glucose fingerstick  225664
224  glucose fingerstick    2416

In [223]:
out[40:60]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
4189,Sucrose,,chartevents,,,73.000000
5858,bedside observer,,chartevents,,,71.666667
228388,Glucose (whole blood) (soft),Glucose (whole blood) (soft),chartevents,Labs,None,71.666667
2140,Glucagon,,chartevents,,,68.333333
1987,glucagon,,chartevents,,,68.333333
6470,CA GLUCONATE,,chartevents,,,65.666667
1906,Elastic gloves,,chartevents,,,64.333333
5576,Ti,,chartevents,,,64.000000
5860,Bed side Observer,,chartevents,,,64.000000
3214,Ca++ Gluconate,,chartevents,,,63.666667
5906,Analgesic,,chartevents,,,62.333333
6061,Sucrose H20,,chartevents,,,61.000000
4713,Heplock flush,,chartevents,,,60.000000
3736,BE,,chartevents,ABG's,,59.333333
4953,sucrose pacifier,,chartevents,,,59.000000
495,PCA Bolus,,chartevents,,,58.666667
224328,PCA dose,PCA dose,chartevents,Pain/Sedation,None,58.666667
224410,PCA bolus,PCA bolus,chartevents,Pain/Sedation,None,58.666667
496,PCA Dose,,chartevents,,,58.666667
542,Pin Care,,chartevents,,,57.666667

In [238]:
data_dict.save()

## ETL data

In [224]:
components = data_dict.get_components(panel_id=14) + [data_dict.components.GLUCOSE_FINGERSTICK]

In [225]:
components

['sodium serum',
 'potassium serum',
 'chloride serum',
 'carbon dioxide serum',
 'blood urea nitrogen serum',
 'creatinine serum',
 'glucose serum',
 'glucose fingerstick']

In [226]:
etl_manager.etl(components,save_steps=True)

(2017-07-26 14:13:20) BEGIN ETL for 8 components: ['sodium serum', 'potassium serum', 'chloride serum', 'carbon dioxide serum', 'blood urea nitrogen serum', 'creatinine serum', 'glucose serum', 'glucose fingerstick']
(2017-07-26 14:13:20)>> SODIUM SERUM: 1/8
(2017-07-26 14:13:20)>>>> Extract...
(2017-07-26 14:13:20)>>>>>> Extracting 8 items from chartevents
(2017-07-26 14:14:28)<<<<<< --- (68.0s)
(2017-07-26 14:14:28)>>>>>> Extracting 2 items from labevents
(2017-07-26 14:14:50)<<<<<< --- (22.0s)
(2017-07-26 14:14:50)>>>>>> Combine DF
(2017-07-26 14:14:50)<<<<<< --- (0.0s)
(2017-07-26 14:14:50)<<<< --- (90.0s)
(2017-07-26 14:14:50)>>>> Transform...
(2017-07-26 14:14:50)>>>>>> Clean UOM
(2017-07-26 14:14:54)<<<<<< --- (4.0s)
(2017-07-26 14:15:17)<<<< --- (27.0s)
(2017-07-26 14:15:17)>>>> Clean...
(2017-07-26 14:17:00)>>>>>> Nominal to OneHot
(2017-07-26 14:17:01)<<<<<< --- (1.0s)
(2017-07-26 14:17:01)>>>>>> Drop OOB data | (710369, 72)
(2017-07-26 14:17:02)>>>>>>>> sodium serum, mEq/L, 1295503
(2017-07-26 14:17:49)<<<<<<<< --- (47.0s)
(2017-07-26 14:17:49)>>>>>>>> sodium serum, no_units, 41911813
(2017-07-26 14:17:51)<<<<<<<< --- (2.0s)
(2017-07-26 14:17:51)<<<<<< --- (50.0s)
(2017-07-26 14:17:51)<<<< --- (154.0s)
(2017-07-26 14:17:51)>>>> Save DataFrames...
(2017-07-26 14:17:51)>>>>>> Save EXTRACTED DF: (1470249, 5)
(2017-07-26 14:17:53)<<<<<< --- (2.0s)
(2017-07-26 14:17:53)>>>>>> Save TRANSFORMED DF: (710398, 13)
(2017-07-26 14:17:56)<<<<<< --- (3.0s)
(2017-07-26 14:17:56)>>>>>> Save FINAL DF: (710369, 72)
(2017-07-26 14:18:02)<<<<<< --- (6.0s)
(2017-07-26 14:18:02)<<<< --- (11.0s)
(2017-07-26 14:18:03)<< --- (283.0s)
(2017-07-26 14:18:03)>> POTASSIUM SERUM: 2/8
(2017-07-26 14:18:03)>>>> Extract...
(2017-07-26 14:18:03)>>>>>> Extracting 7 items from chartevents
(2017-07-26 14:18:59)<<<<<< --- (56.0s)
(2017-07-26 14:18:59)>>>>>> Extracting 3 items from labevents
(2017-07-26 14:19:12)<<<<<< --- (13.0s)
(2017-07-26 14:19:12)>>>>>> Combine DF
(2017-07-26 14:19:12)<<<<<< --- (0.0s)
(2017-07-26 14:19:12)<<<< --- (69.0s)
(2017-07-26 14:19:12)>>>> Transform...
(2017-07-26 14:19:12)>>>>>> Clean UOM
(2017-07-26 14:19:17)<<<<<< --- (5.0s)
(2017-07-26 14:19:46)<<<< --- (34.0s)
(2017-07-26 14:19:46)>>>> Clean...
(2017-07-26 14:22:01)>>>>>> Nominal to OneHot
(2017-07-26 14:22:09)<<<<<< --- (8.0s)
(2017-07-26 14:22:09)>>>>>> Drop OOB data | (860585, 487)
(2017-07-26 14:22:12)>>>>>>>> potassium serum, mEq/L, 1646867
(2017-07-26 14:23:24)<<<<<<<< --- (72.0s)
(2017-07-26 14:23:24)>>>>>>>> potassium serum, no_units, 406196168
(2017-07-26 14:23:34)<<<<<<<< --- (10.0s)
(2017-07-26 14:23:34)<<<<<< --- (85.0s)
(2017-07-26 14:23:34)<<<< --- (228.0s)
(2017-07-26 14:23:34)>>>> Save DataFrames...
(2017-07-26 14:23:34)>>>>>> Save EXTRACTED DF: (1844337, 5)
(2017-07-26 14:23:37)<<<<<< --- (3.0s)
(2017-07-26 14:23:37)>>>>>> Save TRANSFORMED DF: (860636, 15)
(2017-07-26 14:23:41)<<<<<< --- (4.0s)
(2017-07-26 14:23:41)>>>>>> Save FINAL DF: (860585, 487)
(2017-07-26 14:23:54)<<<<<< --- (13.0s)
(2017-07-26 14:23:54)<<<< --- (20.0s)
(2017-07-26 14:24:00)<< --- (357.0s)
(2017-07-26 14:24:00)>> CHLORIDE SERUM: 3/8
(2017-07-26 14:24:00)>>>> Extract...
(2017-07-26 14:24:00)>>>>>> Extracting 8 items from chartevents
(2017-07-26 14:25:09)<<<<<< --- (69.0s)
(2017-07-26 14:25:09)>>>>>> Extracting 2 items from labevents
(2017-07-26 14:25:26)<<<<<< --- (17.0s)
(2017-07-26 14:25:26)>>>>>> Combine DF
(2017-07-26 14:25:26)<<<<<< --- (0.0s)
(2017-07-26 14:25:26)<<<< --- (86.0s)
(2017-07-26 14:25:26)>>>> Transform...
(2017-07-26 14:25:26)>>>>>> Clean UOM
(2017-07-26 14:25:30)<<<<<< --- (4.0s)
(2017-07-26 14:25:53)<<<< --- (27.0s)
(2017-07-26 14:25:53)>>>> Clean...
(2017-07-26 14:27:29)>>>>>> Nominal to OneHot
(2017-07-26 14:27:30)<<<<<< --- (1.0s)
(2017-07-26 14:27:30)>>>>>> Drop OOB data | (676745, 50)
(2017-07-26 14:27:31)>>>>>>>> chloride serum, no_units, 25039607
(2017-07-26 14:27:31)<<<<<<<< --- (0.0s)
(2017-07-26 14:27:31)>>>>>>>> chloride serum, mEq/L, 1207379
(2017-07-26 14:27:32)<<<<<<<< --- (1.0s)
(2017-07-26 14:27:32)<<<<<< --- (2.0s)
(2017-07-26 14:27:32)<<<< --- (99.0s)
(2017-07-26 14:27:32)>>>> Save DataFrames...
(2017-07-26 14:27:32)>>>>>> Save EXTRACTED DF: (1378655, 5)
(2017-07-26 14:27:34)<<<<<< --- (2.0s)
(2017-07-26 14:27:34)>>>>>> Save TRANSFORMED DF: (676772, 13)
(2017-07-26 14:27:37)<<<<<< --- (3.0s)
(2017-07-26 14:27:37)>>>>>> Save FINAL DF: (676745, 50)
(2017-07-26 14:27:41)<<<<<< --- (4.0s)
(2017-07-26 14:27:41)<<<< --- (9.0s)
(2017-07-26 14:27:42)<< --- (222.0s)
(2017-07-26 14:27:42)>> CARBON DIOXIDE SERUM: 4/8
(2017-07-26 14:27:42)>>>> Extract...
(2017-07-26 14:27:42)>>>>>> Extracting 2 items from chartevents
(2017-07-26 14:27:53)<<<<<< --- (11.0s)
(2017-07-26 14:27:53)>>>>>> Combine DF
(2017-07-26 14:27:53)<<<<<< --- (0.0s)
(2017-07-26 14:27:53)<<<< --- (11.0s)
(2017-07-26 14:27:53)>>>> Transform...
(2017-07-26 14:27:53)>>>>>> Clean UOM
(2017-07-26 14:27:53)<<<<<< --- (0.0s)
(2017-07-26 14:27:58)<<<< --- (5.0s)
(2017-07-26 14:27:58)>>>> Clean...

Exception: cannot handle a non-unique multi-index!

In [235]:
etl_manager.etl(components,save_steps=True)

(2017-07-26 14:51:23) BEGIN ETL for 4 components: ['blood urea nitrogen serum', 'creatinine serum', 'glucose serum', 'glucose fingerstick']
(2017-07-26 14:51:23)>> BLOOD UREA NITROGEN SERUM: 1/4
(2017-07-26 14:51:23)>>>> Extract...
(2017-07-26 14:51:24)>>>>>> Extracting 4 items from chartevents
(2017-07-26 14:51:30)<<<<<< --- (6.0s)
(2017-07-26 14:51:30)>>>>>> Extracting 1 items from labevents
(2017-07-26 14:51:40)<<<<<< --- (10.0s)
(2017-07-26 14:51:40)>>>>>> Combine DF
(2017-07-26 14:51:40)<<<<<< --- (0.0s)
(2017-07-26 14:51:40)<<<< --- (17.0s)
(2017-07-26 14:51:40)>>>> Transform...
(2017-07-26 14:51:40)>>>>>> Clean UOM
(2017-07-26 14:51:43)<<<<<< --- (3.0s)
(2017-07-26 14:52:01)<<<< --- (21.0s)
(2017-07-26 14:52:01)>>>> Clean...
(2017-07-26 14:52:42)>>>>>> Nominal to OneHot
(2017-07-26 14:52:42)<<<<<< --- (0.0s)
(2017-07-26 14:52:42)>>>>>> Drop OOB data | (616387, 17)
(2017-07-26 14:52:43)>>>>>>>> blood urea nitrogen serum, mg/dL, 963526
(2017-07-26 14:53:02)<<<<<<<< --- (19.0s)
(2017-07-26 14:53:02)>>>>>>>> blood urea nitrogen serum, no_units, 8013031
(2017-07-26 14:53:02)<<<<<<<< --- (0.0s)
(2017-07-26 14:53:02)<<<<<< --- (20.0s)
(2017-07-26 14:53:02)<<<< --- (61.0s)
(2017-07-26 14:53:02)>>>> Save DataFrames...
(2017-07-26 14:53:02)>>>>>> Save EXTRACTED DF: (1142254, 5)
(2017-07-26 14:53:04)<<<<<< --- (2.0s)
(2017-07-26 14:53:04)>>>>>> Save TRANSFORMED DF: (616414, 5)
(2017-07-26 14:53:05)<<<<<< --- (1.0s)
(2017-07-26 14:53:05)>>>>>> Save FINAL DF: (616387, 17)
(2017-07-26 14:53:08)<<<<<< --- (3.0s)
(2017-07-26 14:53:08)<<<< --- (6.0s)
(2017-07-26 14:53:08)<< --- (105.0s)
(2017-07-26 14:53:08)>> CREATININE SERUM: 2/4
(2017-07-26 14:53:08)>>>> Extract...
(2017-07-26 14:53:09)>>>>>> Extracting 4 items from chartevents
(2017-07-26 14:53:24)<<<<<< --- (15.0s)
(2017-07-26 14:53:24)>>>>>> Extracting 2 items from labevents
(2017-07-26 14:53:34)<<<<<< --- (10.0s)
(2017-07-26 14:53:34)>>>>>> Combine DF
(2017-07-26 14:53:34)<<<<<< --- (0.0s)
(2017-07-26 14:53:34)<<<< --- (26.0s)
(2017-07-26 14:53:34)>>>> Transform...
(2017-07-26 14:53:34)>>>>>> Clean UOM
(2017-07-26 14:53:38)<<<<<< --- (4.0s)
(2017-07-26 14:53:57)<<<< --- (23.0s)
(2017-07-26 14:53:57)>>>> Clean...
(2017-07-26 14:55:02)>>>>>> Nominal to OneHot
(2017-07-26 14:55:03)<<<<<< --- (1.0s)
(2017-07-26 14:55:03)>>>>>> Drop OOB data | (618945, 64)
(2017-07-26 14:55:04)>>>>>>>> creatinine serum, mg/dL, 1119502
(2017-07-26 14:55:33)<<<<<<<< --- (29.0s)
(2017-07-26 14:55:33)>>>>>>>> creatinine serum, no_units, 34042015
(2017-07-26 14:55:34)<<<<<<<< --- (1.0s)
(2017-07-26 14:55:34)<<<<<< --- (31.0s)
(2017-07-26 14:55:34)<<<< --- (97.0s)
(2017-07-26 14:55:34)>>>> Save DataFrames...
(2017-07-26 14:55:34)>>>>>> Save EXTRACTED DF: (1302713, 5)
(2017-07-26 14:55:35)<<<<<< --- (1.0s)
(2017-07-26 14:55:35)>>>>>> Save TRANSFORMED DF: (618971, 9)
(2017-07-26 14:55:38)<<<<<< --- (3.0s)
(2017-07-26 14:55:38)>>>>>> Save FINAL DF: (618945, 64)
(2017-07-26 14:55:41)<<<<<< --- (3.0s)
(2017-07-26 14:55:41)<<<< --- (7.0s)
(2017-07-26 14:55:42)<< --- (154.0s)
(2017-07-26 14:55:42)>> GLUCOSE SERUM: 3/4
(2017-07-26 14:55:42)>>>> Extract...
(2017-07-26 14:55:42)>>>>>> Extracting 8 items from chartevents
(2017-07-26 14:56:36)<<<<<< --- (54.0s)
(2017-07-26 14:56:36)>>>>>> Extracting 2 items from labevents
(2017-07-26 14:56:51)<<<<<< --- (15.0s)
(2017-07-26 14:56:51)>>>>>> Combine DF
(2017-07-26 14:56:51)<<<<<< --- (0.0s)
(2017-07-26 14:56:51)<<<< --- (69.0s)
(2017-07-26 14:56:51)>>>> Transform...
(2017-07-26 14:56:51)>>>>>> Clean UOM
(2017-07-26 14:56:57)<<<<<< --- (6.0s)
(2017-07-26 14:57:27)<<<< --- (36.0s)
(2017-07-26 14:57:27)>>>> Clean...
(2017-07-26 14:59:34)>>>>>> Nominal to OneHot
(2017-07-26 14:59:56)<<<<<< --- (22.0s)
(2017-07-26 14:59:56)>>>>>> Drop OOB data | (887397, 1807)
(2017-07-26 15:00:07)>>>>>>>> glucose serum, mg/dL, 1671533
(2017-07-26 15:02:19)<<<<<<<< --- (132.0s)
(2017-07-26 15:02:19)>>>>>>>> glucose serum, no_units, 1591990262
(2017-07-26 15:03:35)<<<<<<<< --- (76.0s)
(2017-07-26 15:03:35)<<<<<< --- (219.0s)
(2017-07-26 15:03:37)<<<< --- (370.0s)
(2017-07-26 15:03:37)>>>> Save DataFrames...
(2017-07-26 15:03:37)>>>>>> Save EXTRACTED DF: (1843454, 5)
(2017-07-26 15:03:45)<<<<<< --- (8.0s)
(2017-07-26 15:03:45)>>>>>> Save TRANSFORMED DF: (887450, 13)
(2017-07-26 15:03:50)<<<<<< --- (5.0s)
(2017-07-26 15:03:50)>>>>>> Save FINAL DF: (887397, 1807)
(2017-07-26 15:04:36)<<<<<< --- (46.0s)
(2017-07-26 15:04:36)<<<< --- (59.0s)
(2017-07-26 15:05:08)<< --- (566.0s)
(2017-07-26 15:05:08)>> GLUCOSE FINGERSTICK: 4/4
(2017-07-26 15:05:08)>>>> Extract...
(2017-07-26 15:05:15)>>>>>> Extracting 6 items from chartevents
(2017-07-26 15:06:38)<<<<<< --- (83.0s)
(2017-07-26 15:06:38)>>>>>> Combine DF
(2017-07-26 15:06:38)<<<<<< --- (0.0s)
(2017-07-26 15:06:38)<<<< --- (90.0s)
(2017-07-26 15:06:38)>>>> Transform...
(2017-07-26 15:06:38)>>>>>> Clean UOM
(2017-07-26 15:06:38)<<<<<< --- (0.0s)
(2017-07-26 15:06:57)<<<< --- (19.0s)
(2017-07-26 15:06:57)>>>> Clean...
(2017-07-26 15:07:31)>>>>>> Nominal to OneHot
(2017-07-26 15:07:39)<<<<<< --- (8.0s)
(2017-07-26 15:07:39)>>>>>> Drop OOB data | (681257, 1087)
(2017-07-26 15:08:15)>>>>>>>> glucose fingerstick, no_units, 737116793
(2017-07-26 15:08:48)<<<<<<<< --- (33.0s)
(2017-07-26 15:08:48)<<<<<< --- (69.0s)
(2017-07-26 15:08:48)<<<< --- (111.0s)
(2017-07-26 15:08:48)>>>> Save DataFrames...
(2017-07-26 15:08:48)>>>>>> Save EXTRACTED DF: (684468, 5)
(2017-07-26 15:08:49)<<<<<< --- (1.0s)
(2017-07-26 15:08:49)>>>>>> Save TRANSFORMED DF: (681304, 6)
(2017-07-26 15:08:50)<<<<<< --- (1.0s)
(2017-07-26 15:08:50)>>>>>> Save FINAL DF: (681257, 1087)
(2017-07-26 15:09:08)<<<<<< --- (18.0s)
(2017-07-26 15:09:08)<<<< --- (20.0s)
(2017-07-26 15:09:18)<< --- (250.0s)
(2017-07-26 15:09:18) --- (1075.0s)

,CLEANED_data_count,CLEANED_id_count,EXTRACTED_data_count,EXTRACTED_id_count,TRANSFORMED_data_count,TRANSFORMED_id_count,component
0,963576,51035,1142254,51041,963606,51035,blood urea nitrogen serum
1,1119560,51025,1302713,51031,1119851,51025,creatinine serum
2,1676635,53040,1843454,53046,1676707,53040,glucose serum
3,681269,35881,684468,35978,681316,35881,glucose fingerstick

# Other Electrolytes (Calcium, Mag, Phos)

## Calcium
https://medlineplus.gov/ency/article/003477.htm

In [249]:
##total
component = 'calcium total serum'
data_dict.add_definition(component,units='mmol/L',lower_limit=0,upper_limit=25)
data_dict.add_definition(component,units='mg/dL',lower_limit=0,upper_limit=100)

49

In [242]:
out = explorer.search(['calcium','serum calcium',component,'mmol/L','mg/dL'])
out = out.loc[out.linksto.isin(['chartevents','labevents'])]
out[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
1522,Calcium,,chartevents,Chemistry,,110.000000
220228,Hemoglobin,Hemoglobin,chartevents,Labs,g/dl,102.666667
3766,Ion Calcium,,chartevents,ABG's,,95.333333
50808,FREE CALCIUM,NaN,labevents,BLOOD GAS,NaN,92.666667
51066,24 HR CALCIUM,NaN,labevents,CHEMISTRY,NaN,90.000000
5810,urine calcium,,chartevents,,,90.000000
51077,"CALCIUM, URINE",NaN,labevents,CHEMISTRY,NaN,89.000000
50893,"CALCIUM, TOTAL",NaN,labevents,CHEMISTRY,NaN,89.000000
816,Ionized Calcium,,chartevents,Chemistry,,86.000000
1350,ionized calcium,,chartevents,,,86.000000
225667,Ionized Calcium,Ionized Calcium,chartevents,Labs,None,86.000000
8177,Ionized calcium,,chartevents,,,86.000000
8325,IONIZED CALCIUM,,chartevents,,,86.000000
7949,Calcium for CVVH,,chartevents,,,84.000000
5753,Calcium Chloride,,chartevents,,,84.000000
786,Calcium (8.4-10.2),,chartevents,Chemistry,,82.333333
3347,Calcium Gluconate,,chartevents,,,82.000000
1663,Calcium gluconate,,chartevents,,,82.000000
7871,elemental calcium,,chartevents,,,82.000000
3219,calcium gluconate,,chartevents,,,82.000000

In [243]:
mimic.add_item_mapping(component,[1522,50893,786]).tail()

               component  itemid
223  glucose fingerstick  225664
224  glucose fingerstick    2416
225  calcium total serum    1522
226  calcium total serum   50893
227  calcium total serum     786

In [244]:
out[20:40]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
2185,CALCIUM GLUCONATE,,chartevents,,,82.000000
227212,Etomidate (Intubation),Etomidate (Intubation),chartevents,Intubation,mg,81.333333
227213,Vecuronium (Intubation),Vecuronium (Intubation),chartevents,Intubation,mg,81.333333
227211,Ketamine (Intubation),Ketamine (Intubation),chartevents,Intubation,mg,81.333333
227215,Succynlocholine (Intubation),Succynlocholine (Intubation),chartevents,Intubation,mg,81.333333
227210,Propofol (Intubation),Propofol (Intubation),chartevents,Intubation,mg,81.333333
227214,Cis-atracurium (Intubation),Cis-atracurium (Intubation),chartevents,Intubation,mg,81.333333
6132,Calcium gluconate,,chartevents,,,81.333333
3746,Calcium (8.8-10.8),,chartevents,Chemistry,,81.000000
5114,Calcium glubionate,,chartevents,,,80.666667
7245,CALCIUM GLUC ML/HR,,chartevents,,,80.666667
5258,calcium glubionate,,chartevents,,,80.666667
4696,Calcium Glubionate,,chartevents,,,80.666667
51029,"CALCIUM, BODY FLUID",NaN,labevents,CHEMISTRY,NaN,80.000000
225625,Calcium non-ionized,Calcium non-ionized,chartevents,Labs,None,79.333333
51469,CALCIUM OXALATE CRYSTALS,NaN,labevents,HEMATOLOGY,NaN,73.333333
1372,ci,,chartevents,,,72.666667
51470,CALCIUM PHOSPHATE CRYSTALS,NaN,labevents,HEMATOLOGY,NaN,71.333333
51468,CALCIUM CARBONATE CRYSTALS,NaN,labevents,HEMATOLOGY,NaN,71.333333
1424,CIWA Sum Total,,chartevents,,,68.333333

In [245]:
mimic.add_item_mapping(component,[3746]).tail()

               component  itemid
224  glucose fingerstick    2416
225  calcium total serum    1522
226  calcium total serum   50893
227  calcium total serum     786
228  calcium total serum    3746

In [246]:
out[40:60]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
2618,Cistracurium,,chartevents,,,65.666667
7027,vacuum,,chartevents,,,63.666667
1858,cisatracurium,,chartevents,,,63.666667
1028,Cisatracurium,,chartevents,,,63.666667
5113,Calciferol,,chartevents,,,63.000000
4843,calciferol,,chartevents,,,63.000000
50804,CALCULATED TOTAL CO2,NaN,labevents,BLOOD GAS,NaN,62.333333
1366,CCI,,chartevents,,,62.333333
225684,Serum Osmolality,Serum Osmolality,chartevents,Labs,None,62.000000
500,PCA Total Dose,,chartevents,,,62.000000
224665,PCA total dose,PCA total dose,chartevents,Pain/Sedation,None,62.000000
836,Serum Osmolality,,chartevents,Chemistry,,62.000000
50897,CALL,NaN,labevents,CHEMISTRY,NaN,61.666667
422,LCWI,,chartevents,,,61.666667
50947,I,NaN,labevents,CHEMISTRY,NaN,60.000000
6749,total RR,,chartevents,,,59.666667
1000,cisatricurium,,chartevents,,,59.000000
1771,Cisatricurium,,chartevents,,,59.000000
227456,Albumin,Albumin,chartevents,Labs,None,58.666667
3066,albumin,,chartevents,,,58.666667

In [250]:
##ionized
component = 'calcium ionized serum'
data_dict.add_definition(component,units='mmol/L',lower_limit=0,upper_limit=25)
data_dict.add_definition(component,units='mg/dL',lower_limit=0,upper_limit=100)

51

In [251]:
out = explorer.search(['calcium ionized','ca ionized',component,'mmol/L','mg/dL'])
out = out.loc[out.linksto.isin(['chartevents','labevents'])]
out[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
220228,Hemoglobin,Hemoglobin,chartevents,Labs,g/dl,102.666667
1522,Calcium,,chartevents,Chemistry,,86.000000
225625,Calcium non-ionized,Calcium non-ionized,chartevents,Labs,None,83.000000
227213,Vecuronium (Intubation),Vecuronium (Intubation),chartevents,Intubation,mg,81.333333
227210,Propofol (Intubation),Propofol (Intubation),chartevents,Intubation,mg,81.333333
227211,Ketamine (Intubation),Ketamine (Intubation),chartevents,Intubation,mg,81.333333
227215,Succynlocholine (Intubation),Succynlocholine (Intubation),chartevents,Intubation,mg,81.333333
227214,Cis-atracurium (Intubation),Cis-atracurium (Intubation),chartevents,Intubation,mg,81.333333
227212,Etomidate (Intubation),Etomidate (Intubation),chartevents,Intubation,mg,81.333333
51077,"CALCIUM, URINE",NaN,labevents,CHEMISTRY,NaN,78.000000
5258,calcium glubionate,,chartevents,,,73.000000
4696,Calcium Glubionate,,chartevents,,,73.000000
5114,Calcium glubionate,,chartevents,,,73.000000
5753,Calcium Chloride,,chartevents,,,71.666667
8177,Ionized calcium,,chartevents,,,70.000000
1350,ionized calcium,,chartevents,,,70.000000
8325,IONIZED CALCIUM,,chartevents,,,70.000000
225667,Ionized Calcium,Ionized Calcium,chartevents,Labs,None,70.000000
816,Ionized Calcium,,chartevents,Chemistry,,70.000000
3347,Calcium Gluconate,,chartevents,,,68.333333

In [252]:
mimic.add_item_mapping(component,[8177,1350,8325,225667,816]).tail()

                 component  itemid
229  calcium ionized serum    8177
230  calcium ionized serum    1350
231  calcium ionized serum    8325
232  calcium ionized serum  225667
233  calcium ionized serum     816

In [253]:
out[20:40]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
2185,CALCIUM GLUCONATE,,chartevents,,,68.333333
1663,Calcium gluconate,,chartevents,,,68.333333
3219,calcium gluconate,,chartevents,,,68.333333
6132,Calcium gluconate,,chartevents,,,67.666667
3766,Ion Calcium,,chartevents,ABG's,,67.666667
51029,"CALCIUM, BODY FLUID",NaN,labevents,CHEMISTRY,NaN,64.333333
50893,"CALCIUM, TOTAL",NaN,labevents,CHEMISTRY,NaN,63.333333
51081,"CREATININE, SERUM",NaN,labevents,CHEMISTRY,NaN,62.333333
6235,Circumsion,,chartevents,,,60.666667
4719,Ca Glubionate,,chartevents,,,60.666667
220615,Creatinine,Creatinine,chartevents,Labs,None,60.000000
50912,CREATININE,NaN,labevents,CHEMISTRY,NaN,60.000000
220602,Chloride (serum),Chloride (serum),chartevents,Labs,None,60.000000
1525,Creatinine,,chartevents,Chemistry,,60.000000
2493,cariporide,,chartevents,,,60.000000
2516,CARIPORIDE,,chartevents,,,60.000000
4322,Circumsion Site:,,chartevents,,,59.333333
1372,ci,,chartevents,,,59.333333
50808,FREE CALCIUM,NaN,labevents,BLOOD GAS,NaN,59.000000
7949,Calcium for CVVH,,chartevents,,,58.666667

In [254]:
mimic.add_item_mapping(component,[3766,50808]).tail()

                 component  itemid
231  calcium ionized serum    8325
232  calcium ionized serum  225667
233  calcium ionized serum     816
234  calcium ionized serum    3766
235  calcium ionized serum   50808

In [255]:
out[40:60]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
51468,CALCIUM CARBONATE CRYSTALS,NaN,labevents,HEMATOLOGY,NaN,58.333333
7969,ATC size,,chartevents,,,58.333333
2456,CARIPROSIDE,,chartevents,,,58.000000
50972,PROCAINAMIDE,NaN,labevents,CHEMISTRY,NaN,57.666667
5928,circumcison site,,chartevents,,,57.000000
224366,Epidural Infusion Rate (mL/hr),Epidural Infusion Rate (mL/hr),chartevents,Pain/Sedation,ml/hr,56.666667
228182,SVI (PiCCO),SVI (PiCCO),chartevents,PiCCO,mL/m2,56.666667
6485,sacral wound,,chartevents,,,56.666667
228179,ELWI (PiCCO),ELWI (PiCCO),chartevents,PiCCO,ml/kg,56.666667
228159,Purge Solution Flow Rate,Purge Solution Flow Rate,chartevents,Impella,ml/hr,56.666667
224154,Dialysate Rate,Dialysate Rate,chartevents,Dialysis,ml/hr,56.666667
228180,GEDI (PiCCO),GEDI (PiCCO),chartevents,PiCCO,mL/m2,56.666667
220621,Glucose (serum),Glucose (serum),chartevents,Labs,None,56.666667
228181,ITBVI (PiCCO),ITBVI (PiCCO),chartevents,PiCCO,mL/m2,56.666667
228006,Post Filter Replacement Rate,Post Filter Replacement Rate,chartevents,Dialysis,ml/hr,56.666667
228005,PBP (Prefilter) Replacement Rate,PBP (Prefilter) Replacement Rate,chartevents,Dialysis,ml/hr,56.666667
228004,Citrate (ACD-A),Citrate (ACD-A),chartevents,Dialysis,ml/hr,56.666667
224331,PCA basal rate (mL/hour),PCA basal rate (mL/hour),chartevents,Pain/Sedation,ml/hr,56.666667
224153,Replacement Rate,Replacement Rate,chartevents,Dialysis,ml/hr,56.666667
51069,"ALBUMIN, URINE",NaN,labevents,CHEMISTRY,NaN,56.333333

In [256]:
#just in case we missed this alternate term for ionized calcium
out = explorer.search(['free calcium'])
out = out.loc[out.linksto.isin(['chartevents','labevents'])]
out[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
50808,FREE CALCIUM,NaN,labevents,BLOOD GAS,NaN,110.000000
1522,Calcium,,chartevents,Chemistry,,92.666667
5810,urine calcium,,chartevents,,,81.000000
51066,24 HR CALCIUM,NaN,labevents,CHEMISTRY,NaN,73.000000
3766,Ion Calcium,,chartevents,ABG's,,71.000000
224727,Resting Energy Expenditure,REE,chartevents,Respiratory,kcal/day,70.000000
3059,REE,,chartevents,,,70.000000
225667,Ionized Calcium,Ionized Calcium,chartevents,Labs,None,69.666667
8325,IONIZED CALCIUM,,chartevents,,,69.666667
816,Ionized Calcium,,chartevents,Chemistry,,69.666667
1350,ionized calcium,,chartevents,,,69.666667
8177,Ionized calcium,,chartevents,,,69.666667
7871,elemental calcium,,chartevents,,,68.333333
51477,FREE FAT,NaN,labevents,HEMATOLOGY,NaN,65.000000
51077,"CALCIUM, URINE",NaN,labevents,CHEMISTRY,NaN,64.000000
1372,ci,,chartevents,,,62.666667
6305,freeform alarm,,chartevents,,,60.666667
609,Remote Alarm,,chartevents,,,59.000000
6184,remote alarm,,chartevents,,,59.000000
50893,"CALCIUM, TOTAL",NaN,labevents,CHEMISTRY,NaN,58.666667

In [257]:
data_dict.save()

In [258]:
etl_manager.etl([data_dict.components.CALCIUM_IONIZED_SERUM,data_dict.components.CALCIUM_TOTAL_SERUM],save_steps=True)

(2017-07-26 15:49:15) BEGIN ETL for 2 components: ['calcium ionized serum', 'calcium total serum']
(2017-07-26 15:49:15)>> CALCIUM IONIZED SERUM: 1/2
(2017-07-26 15:49:15)>>>> Extract...
(2017-07-26 15:49:15)>>>>>> Extracting 6 items from chartevents
(2017-07-26 15:49:57)<<<<<< --- (42.0s)
(2017-07-26 15:49:57)>>>>>> Extracting 1 items from labevents
(2017-07-26 15:50:21)<<<<<< --- (24.0s)
(2017-07-26 15:50:21)>>>>>> Combine DF
(2017-07-26 15:50:21)<<<<<< --- (0.0s)
(2017-07-26 15:50:21)<<<< --- (66.0s)
(2017-07-26 15:50:21)>>>> Transform...
(2017-07-26 15:50:21)>>>>>> Clean UOM
(2017-07-26 15:50:22)<<<<<< --- (1.0s)
(2017-07-26 15:50:31)<<<< --- (10.0s)
(2017-07-26 15:50:31)>>>> Clean...
(2017-07-26 15:50:52)>>>>>> Nominal to OneHot
(2017-07-26 15:50:53)<<<<<< --- (1.0s)
(2017-07-26 15:50:53)>>>>>> Drop OOB data | (248851, 224)
(2017-07-26 15:50:54)>>>>>>>> calcium ionized serum, no_units, 53751832
(2017-07-26 15:50:54)<<<<<<<< --- (0.0s)
(2017-07-26 15:50:54)>>>>>>>> calcium ionized serum, mmol/L, 472451
(2017-07-26 15:50:56)<<<<<<<< --- (2.0s)
(2017-07-26 15:50:56)<<<<<< --- (3.0s)
(2017-07-26 15:50:56)<<<< --- (25.0s)
(2017-07-26 15:50:56)>>>> Save DataFrames...
(2017-07-26 15:50:56)>>>>>> Save EXTRACTED DF: (477972, 5)
(2017-07-26 15:50:57)<<<<<< --- (1.0s)
(2017-07-26 15:50:57)>>>>>> Save TRANSFORMED DF: (248882, 8)
(2017-07-26 15:50:57)<<<<<< --- (0.0s)
(2017-07-26 15:50:57)>>>>>> Save FINAL DF: (248851, 224)
(2017-07-26 15:50:59)<<<<<< --- (2.0s)
(2017-07-26 15:50:59)<<<< --- (3.0s)
(2017-07-26 15:51:00)<< --- (105.0s)
(2017-07-26 15:51:00)>> CALCIUM TOTAL SERUM: 2/2
(2017-07-26 15:51:00)>>>> Extract...
(2017-07-26 15:51:00)>>>>>> Extracting 3 items from chartevents
(2017-07-26 15:51:24)<<<<<< --- (24.0s)
(2017-07-26 15:51:24)>>>>>> Extracting 1 items from labevents
(2017-07-26 15:51:48)<<<<<< --- (24.0s)
(2017-07-26 15:51:48)>>>>>> Combine DF
(2017-07-26 15:51:48)<<<<<< --- (0.0s)
(2017-07-26 15:51:48)<<<< --- (48.0s)
(2017-07-26 15:51:48)>>>> Transform...
(2017-07-26 15:51:48)>>>>>> Clean UOM
(2017-07-26 15:51:50)<<<<<< --- (2.0s)
(2017-07-26 15:52:05)<<<< --- (17.0s)
(2017-07-26 15:52:05)>>>> Clean...
(2017-07-26 15:52:41)>>>>>> Nominal to OneHot
(2017-07-26 15:52:41)<<<<<< --- (0.0s)
(2017-07-26 15:52:41)>>>>>> Drop OOB data | (484361, 14)
(2017-07-26 15:52:41)>>>>>>>> calcium total serum, mg/dL, 772413
(2017-07-26 15:53:03)<<<<<<<< --- (22.0s)
(2017-07-26 15:53:03)>>>>>>>> calcium total serum, no_units, 3874888
(2017-07-26 15:53:03)<<<<<<<< --- (0.0s)
(2017-07-26 15:53:03)<<<<<< --- (22.0s)
(2017-07-26 15:53:03)<<<< --- (58.0s)
(2017-07-26 15:53:03)>>>> Save DataFrames...
(2017-07-26 15:53:03)>>>>>> Save EXTRACTED DF: (882460, 5)
(2017-07-26 15:53:05)<<<<<< --- (2.0s)
(2017-07-26 15:53:05)>>>>>> Save TRANSFORMED DF: (484376, 6)
(2017-07-26 15:53:06)<<<<<< --- (1.0s)
(2017-07-26 15:53:06)>>>>>> Save FINAL DF: (484361, 14)
(2017-07-26 15:53:08)<<<<<< --- (2.0s)
(2017-07-26 15:53:08)<<<< --- (5.0s)
(2017-07-26 15:53:09)<< --- (129.0s)
(2017-07-26 15:53:09) --- (234.0s)

,CLEANED_data_count,CLEANED_id_count,EXTRACTED_data_count,EXTRACTED_id_count,TRANSFORMED_data_count,TRANSFORMED_id_count,component
0,473599,28315,477972,28332,473630,28315,calcium ionized serum
1,772437,48993,882460,48997,772463,48993,calcium total serum

## Magnesium

In [262]:
component = 'magnesium serum'

data_dict.add_definition(component,units='mg/dL',lower_limit=0,upper_limit=100)

In [263]:
out = explorer.search(['mag',component,'mg/dL'])
out = out.loc[out.linksto.isin(['chartevents','labevents'])]
out[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
220228,Hemoglobin,Hemoglobin,chartevents,Labs,g/dl,102.666667
223960,Temporary Venticular Stim Threshold mA,Temp Venticular Stim Threshold mA,chartevents,Cardiovascular (Pacer Data),mA,96.666667
224754,Temporary Atrial Stim Threshold mA,Temp Atrial Stim Threshold mA,chartevents,Cardiovascular (Pacer Data),mA,96.666667
224662,Current Used/mA,Current Used/mA,chartevents,Pain/Sedation,mA,96.666667
224838,Temporary Ventricular Stim Setting mA,Temp Ventricular Stim Setting mA,chartevents,Cardiovascular (Pacer Data),mA,96.666667
224661,Baseline Current/mA,Baseline Current/mA,chartevents,Pain/Sedation,mA,96.666667
224755,Temporary Atrial Stim Setting mA,Temp Atrial Stim Setting mA,chartevents,Cardiovascular (Pacer Data),mA,96.666667
220635,Magnesium,Magnesium,chartevents,Labs,None,93.333333
50960,MAGNESIUM,NaN,labevents,CHEMISTRY,NaN,93.333333
1532,Magnesium,,chartevents,Chemistry,,93.333333
227214,Cis-atracurium (Intubation),Cis-atracurium (Intubation),chartevents,Intubation,mg,81.333333
227213,Vecuronium (Intubation),Vecuronium (Intubation),chartevents,Intubation,mg,81.333333
227212,Etomidate (Intubation),Etomidate (Intubation),chartevents,Intubation,mg,81.333333
227211,Ketamine (Intubation),Ketamine (Intubation),chartevents,Intubation,mg,81.333333
227210,Propofol (Intubation),Propofol (Intubation),chartevents,Intubation,mg,81.333333
227215,Succynlocholine (Intubation),Succynlocholine (Intubation),chartevents,Intubation,mg,81.333333
6133,Magnesium Sulfate,,chartevents,,,76.666667
51088,"MAGNESIUM, URINE",NaN,labevents,CHEMISTRY,NaN,72.333333
6123,Mag sulfate,,chartevents,,,72.000000
227442,Potassium (serum),Potassium (serum),chartevents,Labs,None,71.666667

In [264]:
mimic.add_item_mapping(component,[220635,50960,1532]).tail()

                 component  itemid
234  calcium ionized serum    3766
235  calcium ionized serum   50808
236        magnesium serum  220635
237        magnesium serum   50960
238        magnesium serum    1532

In [265]:
out[20:40]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
1970,magnesium 2gm/hr,,chartevents,,,67.333333
224310,Augmented Diastole,AUG,chartevents,IABP,mmHg,67.000000
438,MAP,,chartevents,,,67.000000
4753,pH (Art),,chartevents,ABG,,67.000000
3135,ATG,,chartevents,,,67.000000
778,Arterial PaCO2,,chartevents,ABG,,67.000000
1126,Art.pH,,chartevents,ABG,,67.000000
1571,ABG,,chartevents,,,67.000000
812,HCO3,,chartevents,ABG,,67.000000
1321,map,,chartevents,,,67.000000
51529,eAG,NaN,labevents,CHEMISTRY,NaN,67.000000
780,Arterial pH,,chartevents,ABG,,67.000000
776,Arterial Base Excess,,chartevents,ABG,,67.000000
777,Arterial CO2(Calc),,chartevents,ABG,,67.000000
779,Arterial PaO2,,chartevents,ABG,,67.000000
220645,Sodium (serum),Sodium (serum),chartevents,Labs,None,66.000000
3201,Methylhemaglobin,,chartevents,,,64.666667
7865,mag sulfate gm/hr,,chartevents,,,63.333333
3472,Image Transmission,,chartevents,,,62.666667
821,Magnesium (1.6-2.6),,chartevents,Chemistry,,62.333333

In [266]:
mimic.add_item_mapping(component,[821]).tail()

                 component  itemid
235  calcium ionized serum   50808
236        magnesium serum  220635
237        magnesium serum   50960
238        magnesium serum    1532
239        magnesium serum     821

In [267]:
out[40:60]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
7863,Mag Sulfate mg/hr,,chartevents,,,62.000000
220640,ZPotassium (serum),ZPotassium (serum),chartevents,Labs,None,61.666667
224646,Orthostatic BPs sitting,Orthostatic BPs sitting,chartevents,Routine Vital Signs,mmHg,60.333333
220066,Pulmonary Artery Pressure Alarm - Low,PAP Alarm - Low,chartevents,Alarms,mmHg,60.333333
228148,ABI Ankle BP R (Impella),ABI Ankle BP R (Impella),chartevents,Impella,mmHg,60.333333
226062,Venous CO2 Pressure,PCO2 (Venous),chartevents,Labs,mmHg,60.333333
226063,Venous O2 Pressure,PO2 (Venous),chartevents,Labs,mmHg,60.333333
220072,Central Venous Pressure Alarm - High,CVP Alarm - High,chartevents,Alarms,mmHg,60.333333
224151,Effluent Pressure,Effluent Pressure,chartevents,Dialysis,mmHg,60.333333
224150,Filter Pressure,Filter Pressure,chartevents,Dialysis,mmHg,60.333333
220069,Left Artrial Pressure,LAP,chartevents,Hemodynamics,mmHg,60.333333
224149,Access Pressure,Access Pressure,chartevents,Dialysis,mmHg,60.333333
220063,Pulmonary Artery Pressure Alarm - High,PAP Alarm - High,chartevents,Alarms,mmHg,60.333333
7200,Pmax,,chartevents,,,60.333333
220061,Pulmonary Artery Pressure mean,PAPm,chartevents,Hemodynamics,mmHg,60.333333
220060,Pulmonary Artery Pressure diastolic,PAPd,chartevents,Hemodynamics,mmHg,60.333333
227537,ART Blood Pressure Alarm - High,ART BP Alarm - High,chartevents,Alarms,mmHg,60.333333
220059,Pulmonary Artery Pressure systolic,PAPs,chartevents,Hemodynamics,mmHg,60.333333
220058,Arterial Blood Pressure Alarm - High,ABP Alarm - High,chartevents,Alarms,mmHg,60.333333
227538,ART Blood Pressure Alarm - Low,ART BP Alarm - Low,chartevents,Alarms,mmHg,60.333333

In [268]:
data_dict.save()

In [269]:
etl_manager.etl([data_dict.components.MAGNESIUM_SERUM],save_steps=True)

(2017-07-26 15:57:23) BEGIN ETL for 1 components: ['magnesium serum']
(2017-07-26 15:57:23)>> MAGNESIUM SERUM: 1/1
(2017-07-26 15:57:23)>>>> Extract...
(2017-07-26 15:57:23)>>>>>> Extracting 3 items from chartevents
(2017-07-26 15:57:56)<<<<<< --- (33.0s)
(2017-07-26 15:57:56)>>>>>> Extracting 1 items from labevents
(2017-07-26 15:58:07)<<<<<< --- (11.0s)
(2017-07-26 15:58:07)>>>>>> Combine DF
(2017-07-26 15:58:07)<<<<<< --- (0.0s)
(2017-07-26 15:58:07)<<<< --- (44.0s)
(2017-07-26 15:58:07)>>>> Transform...
(2017-07-26 15:58:07)>>>>>> Clean UOM
(2017-07-26 15:58:10)<<<<<< --- (3.0s)
(2017-07-26 15:58:28)<<<< --- (21.0s)
(2017-07-26 15:58:28)>>>> Clean...
(2017-07-26 15:59:16)>>>>>> Nominal to OneHot
(2017-07-26 15:59:20)<<<<<< --- (4.0s)
(2017-07-26 15:59:20)>>>>>> Drop OOB data | (561443, 406)
(2017-07-26 15:59:27)>>>>>>>> magnesium serum, no_units, 224015787
(2017-07-26 15:59:27)<<<<<<<< --- (0.0s)
(2017-07-26 15:59:27)>>>>>>>> magnesium serum, mg/dL, 1054959
(2017-07-26 15:59:32)<<<<<<<< --- (5.0s)
(2017-07-26 15:59:32)<<<<<< --- (12.0s)
(2017-07-26 15:59:32)<<<< --- (64.0s)
(2017-07-26 15:59:32)>>>> Save DataFrames...
(2017-07-26 15:59:32)>>>>>> Save EXTRACTED DF: (1165526, 5)
(2017-07-26 15:59:34)<<<<<< --- (2.0s)
(2017-07-26 15:59:34)>>>>>> Save TRANSFORMED DF: (561467, 7)
(2017-07-26 15:59:36)<<<<<< --- (2.0s)
(2017-07-26 15:59:36)>>>>>> Save FINAL DF: (561443, 406)
(2017-07-26 15:59:43)<<<<<< --- (7.0s)
(2017-07-26 15:59:43)<<<< --- (11.0s)
(2017-07-26 15:59:46)<< --- (143.0s)
(2017-07-26 15:59:46) --- (143.0s)

,CLEANED_data_count,CLEANED_id_count,EXTRACTED_data_count,EXTRACTED_id_count,TRANSFORMED_data_count,TRANSFORMED_id_count,component
0,1057738,49810,1165526,49815,1057774,49810,magnesium serum

## Phosphorous

In [279]:
component = 'phosphorous serum'
data_dict.add_definition(component,units='mg/dL',lower_limit=0,upper_limit=100)

54

In [281]:
out = explorer.search(['phos','phosphorous',component,'mg/dL'])
out = out.loc[out.linksto.isin(['chartevents','labevents'])]
out[:20]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
1534,Phosphorous,,chartevents,Chemistry,,110.000000
225677,Phosphorous,Phosphorous,chartevents,Labs,None,110.000000
220228,Hemoglobin,Hemoglobin,chartevents,Labs,g/dl,102.666667
4679,KPHOS,,chartevents,,,102.666667
4683,KPhos,,chartevents,,,102.666667
5186,Kphos,,chartevents,,,102.666667
5080,K phos,,chartevents,,,96.666667
4720,K Phos,,chartevents,,,96.666667
827,Phosphorous(2.7-4.5),,chartevents,Chemistry,,91.333333
4365,k phosphorus,,chartevents,,,89.666667
1673,PH,,chartevents,,,88.000000
50831,PH,NaN,labevents,BLOOD GAS,NaN,88.000000
51094,PH,NaN,labevents,CHEMISTRY,NaN,88.000000
51491,PH,NaN,labevents,HEMATOLOGY,NaN,88.000000
50820,PH,NaN,labevents,BLOOD GAS,NaN,88.000000
7459,Ph,,chartevents,,,88.000000
50970,PHOSPHATE,NaN,labevents,CHEMISTRY,NaN,84.666667
51521,ACID PHOS,NaN,labevents,CHEMISTRY,NaN,84.666667
227213,Vecuronium (Intubation),Vecuronium (Intubation),chartevents,Intubation,mg,81.333333
227212,Etomidate (Intubation),Etomidate (Intubation),chartevents,Intubation,mg,81.333333

In [292]:
mimic.add_item_mapping(component,[1534,225677,827]).tail()

             component    itemid
238    magnesium serum    1532.0
239    magnesium serum     821.0
240  phosphorous serum    1534.0
241  phosphorous serum  225677.0
242  phosphorous serum     827.0

In [275]:
out[20:40]

,label,abbreviation,linksto,category,unitname,score
itemid,,,,,,
1970,magnesium 2gm/hr,,chartevents,,,67.333333
224310,Augmented Diastole,AUG,chartevents,IABP,mmHg,67.000000
438,MAP,,chartevents,,,67.000000
4753,pH (Art),,chartevents,ABG,,67.000000
3135,ATG,,chartevents,,,67.000000
778,Arterial PaCO2,,chartevents,ABG,,67.000000
1126,Art.pH,,chartevents,ABG,,67.000000
1571,ABG,,chartevents,,,67.000000
812,HCO3,,chartevents,ABG,,67.000000
1321,map,,chartevents,,,67.000000
51529,eAG,NaN,labevents,CHEMISTRY,NaN,67.000000
780,Arterial pH,,chartevents,ABG,,67.000000
776,Arterial Base Excess,,chartevents,ABG,,67.000000
777,Arterial CO2(Calc),,chartevents,ABG,,67.000000
779,Arterial PaO2,,chartevents,ABG,,67.000000
220645,Sodium (serum),Sodium (serum),chartevents,Labs,None,66.000000
3201,Methylhemaglobin,,chartevents,,,64.666667
7865,mag sulfate gm/hr,,chartevents,,,63.333333
3472,Image Transmission,,chartevents,,,62.666667
821,Magnesium (1.6-2.6),,chartevents,Chemistry,,62.333333

In [ ]:
mimic.add_item_mapping(component,[]).tail()

In [ ]:
data_dict.save()

In [ ]:
etl_manager.etl([data_dict.components.PHOSPHOROUS_SERUM],save_steps=True)

# Coags

In [273]:
coag_ids = []

# TEMPALTE

In [272]:
component = 'magnesium serum'
data_dict.add_definition(component,units='mg/dL',lower_limit=0,upper_limit=100)

out = explorer.search(['mag',component,'mg/dL'])
out = out.loc[out.linksto.isin(['chartevents','labevents'])]
out[:20]

mimic.add_item_mapping(component,[]).tail()

out[20:40]

data_dict.save()

etl_manager.etl([data_dict.components.MAGNESIUM_SERUM],save_steps=True)